.setting-cnt {
    height: calc(100vh - 60px);
    background-color: var(--bgWhite);
    overflow-y: scroll;
    padding: 12px 20px;
}

.setting-item {
    background-color: var(--bgWhite);
    box-shadow: 0 6px 15px #dcd8ee;
    padding: 12px 8px;
    border-radius: 12px;
}

.setting-item .left img {
    width: 20px;
    height: 20px;
}

.setting-item .right .right-item,
.setting-item .left span {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: var(--text-black);
}