.notification {
    background-color: var(--white);
    padding: 36px;
    width: 33.33vw;
}

.notification .title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: var(--purple);
}

.notification .content {
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    margin: 18px 0px;
    width: 100%;
    text-align: center;
}

.notification .control {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.notification .control button {
    width: calc(50% - 18px);
}

@media only screen and (max-width: 1023px) {
    .notification {
        width: calc(100vw - 24px);
        padding: 20px;
    }

    .notification .title {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
    }

    .notification .content {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        margin: 12px 0px 20px 0px;
    }
    .notification .control button{
        padding: 8px 0px;
        width: calc(50% - 5px);
    }
}