.chat-all-cnt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat-all-cnt-left {
    width: 25%;
    height: calc(100vh - 95px);
    background-color: var(--white);
    border-right: solid 2px var(--grey);
    position: relative;
}

.chat-all-cnt-left__head {
    padding: 12px 8px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 100%;
    z-index: 2;
    border-bottom: solid 1px var(--grey_2);
}

.chat-all-cnt-left__head-inp {
    width: calc(100% - 120px);
    border: none;
    outline: none;
    background-color: var(--grey);
    padding: 8px 12px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    border-radius: 16px;
}

.chat-all-cnt__head-btn {
    padding: 8px;
    border: none;
    outline: none;
    background-color: var(--grey);
    border-radius: 100%;
    margin-left: 8px;
}

.chat-all-cnt__head-btn img {
    width: 20px;
    height: 20px;
}

.chat-all-cnt-left__body {
    width: 100%;
    margin-top: 61px;
    height: calc(100% - 61px);
    overflow-y: scroll;
}

.chat-all-cnt-left__body-item-cnt {
    padding: 8px;
    margin: 4px 0px;
}

.chat-all-cnt-left__body-item {
    background-color: var(--white);
    padding: 8px;
    border-radius: 8px;
    height: fit-content;
    cursor: pointer;
    transition: all .6s;
}

.chat-all-cnt-left__body-item:hover {
    background-color: var(--grey_2);
    transition: all .6s;
}

.chat-all-cnt-left__body-item .avatar {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 0px;
    border: solid 1px var(--text-hover);
    position: relative;
}

.chat-all-cnt-left__body-item .act {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--green);
    border-radius: 100%;
    margin: 38px 0px 0px 40px;
}

.chat-all-cnt-left__body-item .name {
    width: calc(100% - 54px);
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: var(--text-black);
    padding-left: 8px;
}

/* chat right */
.chat-all-cnt-right {
    width: 75%;
    height: calc(100vh - 95px);
    background-color: var(--white);
    
}
.chat-all-cnt-right__head{
    padding: 12px 8px;
}
.chat-all-cnt-right__head .head-left-avatar{
    position: relative;
}
.chat-all-cnt-right__head .head-left-avatar .dot{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: var(--green);
    border: solid 2px var(--white);
    right: 0;
    bottom: 0;
    margin: 0px 0px 0px 0px;
    z-index: 2;
}
.chat-all-cnt-right__head .head-left-avatar img{
    width: 36;
    height: 36px;
    border-radius: 100%;
    object-fit: cover;
}
.chat-all-cnt-right__head .head-left-title{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
.chat-all-cnt-right__head .head-left-title span:nth-child(1){
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: var(--text-black);
}
.chat-all-cnt-right__head .head-left-title span:nth-child(2){
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: var(--text-hover);
}