.mb-head-org-cnt {
    background-color: transparent;
    padding: 8px 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all .5s;
}

.mb-head-act {
    background-color: var(--bgWhite);
    transition: all .5s;
}

.mb-head-org-cnt button {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 100%;
    background-color: #e5e5e58c;
}

.mb-head-org-cnt__right button {
    margin-left: 8px;
}

.mb-head-org-cnt .icon-btn {
    width: 16px;
    height: 16px;
}

.org-detail {
    padding: 32px 0px;
    height: 550px;
}

.org-detail__cnt {
    position: relative;
}

.org-detail__cnt-top {
    width: 100%;
    height: 362px;
    overflow: hidden;
    position: absolute;
}

.org-detail__banner-de {
    display: flex !important;
    justify-content: center;
    height: 100%;
}

.org-detail__banner-de__item {
    width: 100%;
    height: 362px;
    position: relative;
}

.org-detail__banner-de__item .back-drop__img {
    -webkit-filter: blur(12px);
    position: absolute;
    z-index: 1;
    filter: blur(12px);
}

.org-detail__banner-de__item .banner-item__cnt {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.org-detail__banner-de__item .banner-item__cnt .banner-item__img {
    height: 100%;
}

.org-detail__cnt .wrap-bot {
    z-index: 20;
    background-color: transparent;
    padding: 0px 32px;
    position: absolute;
    margin-top: 352px;
    left: 0;
    right: 0;
    border-bottom: solid 1px var(--bgGray);
    padding-bottom: 16px;
}

.org-detail__cnt-bot .left {
    width: calc(100% - 154px);
}

.org-detail__cnt-bot .org-avatar {
    width: 122px;
    height: 122px;
    border-radius: 100%;
    border: solid 4px var(--bgWhite);
    background-color: var(--bgWhite);
}

.org-detail__cnt-bot .org-avatar img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.org-detail__cnt-bot .right button {
    border: solid 1px var(--purple);
    outline: none;
    cursor: pointer;
    background-color: var(--purple);
    padding: 6px 0px;
    width: 154px;
    margin: 4px 0px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--bgWhite);
    border-radius: 6px;
    transition: all .3s;
}

.org-detail__cnt-bot .right button:nth-child(1) {
    background-color: var(--bgWhite);
    color: var(--purple);
}

.org-left-detail__name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: var(--purple);
}

.org-detail__cnt-bot .icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.org-left-detail__address {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: var(--text-black);
}

.org-left-detail__rate {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: var(--black);
    margin-top: 4px;
}

.org-left-detail__rate-item {
    margin-right: 6px;
}

.org-time-work {
    border-top: solid 1px var(--bgGray);
    padding-top: 4px;
    margin-top: -14px;
    width: 66.4%;
    padding-left: 122px;
}

.org-time-work .title,
.org-time-work .time {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.org-time-work .time {
    margin-right: 8px;
}

.org-time-work__right-list {
    background-color: var(--bgGray);
    padding: 2px 12px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

/* org container */
.org-container {
    width: 100%;
    padding: 12px 0px;
    position: sticky;
    background-color: var(--bgWhite);
    z-index: 20;
    top: 0px
}

.org-tab-list {
    width: 100%;
}

.org-tab-list li {
    width: 20%;
}

.org-tab-list__item {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--black);
    cursor: pointer;
    transition: all .3s;
}

/* org discounts */
.org-deal-hot__section-title {
    margin: 20px 0px 12px 0px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: var(--text-black);
}

.org-deal-hot {
    padding: 28px 0px;
}

.org-deal-hot__discounts .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.org-deal-hot__discounts .list li,
.org-special__list li {
    width: 16.6%;
    padding: 8px;
    cursor: pointer;
}

.org-special__list {
    display: flex;
    flex-wrap: wrap;
}

.org-special-item__img {
    border-radius: 8px 8px 0px 0px;
    position: relative;
}

.org-special-item__rate {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--bgWhite);
    margin: 0px 0px 4px 4px;
    padding: 2px 4px;
    border-radius: 4px;
}

.org-special-item__rate .rate-item__count {
    margin-left: 4px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.org-special-item__img img {
    border-radius: 8px 8px 0px 0px;
}

.org-special-item__detail {
    padding: 8px;
    background-color: #FFF;
    border-radius: 0px 0px 8px 8px;
}

.org-special-item__detail .item-head__name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    min-height: 32px;
    color: var(--text-black);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.org-special-item__detail .item-price__special {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: var(--red-cl);
}

.org-special-item__detail .item-price__old {
    font-size: 12px;
    line-height: 14px;
    color: var(--text-hover);
    font-weight: 700;
    text-decoration: line-through;
}

.org-special-item__detail .item-price {
    display: flex;
    flex-direction: column;
}

/* org information cnt */
.org-information-cnt {
    padding: 28px 0px;
}

.org-information-cnt {
    display: flex;
    justify-content: space-between;
}

.org-information {
    width: 50%;
    padding-right: 12px;
}

.org-information__map-cnt {
    width: 100%;
    height: 348px;
    position: relative;
}

.org-information__map-cnt .map-cnt {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
}

.org-information__map-cnt .map-org-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 132px;
    padding: 12px;
}

.org-information__map-cnt .map-org-detail__slide {
    height: 100%;
}

.org-information__map-cnt .map-org-detail__item {
    width: 100%;
    height: 108px;
    background-color: var(--bgWhite);
    border-radius: 8px;
    padding: 8px 12px;
    display: flex !important;
}

.map-org-detail__item .branch-avatar {
    height: 100%;
    border-radius: 100%;
    width: fit-content;
}

.map-org-detail__item .branch-detail {
    padding-left: 8px;
}

.map-org-detail__item .branch-detail .name {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--purple);
}

.map-org-detail__item .branch-detail .icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.map-org-detail__item .address {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: var(--text-black);
}

.map-org-detail__item .rate-item {
    margin-right: 12px;
}

.map-org-detail__item .rate-item .rate-item__text {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    color: var(--text-hover);
}

.org-information__branches {
    margin: 20px 0px;
}

.org-information__branches .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-black);
}

.org-information__branches .branches-list-cnt {
    margin-top: 8px;
    background-color: var(--grey);
    padding: 8px;
    border-radius: 8px;
    height: 32px;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s;
}

.branches-list-cnt__drop {
    height: 100px !important;
    transition: all .4s !important;
}

.org-information__branches .branches-list-cnt .list-item {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: var(--text-hover);
    margin-bottom: 8px;
}

.org-time-list {
    margin-top: 8px;
}

.org-time-list__item {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-hover);
}

.org-time-list__item .org-time-list__left {
    width: 72px;
    margin-right: 12px;
    border-right: solid 1px var(--text-hover);
}

.org-information__about {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: var(--text-black);
}

.org-information-utils {
    margin-top: 8px;
}

.org-information-utils .utils-item {
    margin-bottom: 4px;
}

.org-information-utils .utils-item .icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.org-information-utils .utils-item span {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-black);
}

@media only screen and (max-width: 1023px) {
    .org-detail {
        padding: 0px;
        height: 296px;
    }

    .org-detail__cnt-top {
        height: 184px;
    }

    .org-detail__banner-de__item {
        height: 184px;
    }

    .org-detail__cnt-bot .left {
        width: 100%;
    }

    .org-detail__cnt-bot .right {
        display: none;
    }

    .org-detail__cnt .wrap-bot {
        padding: 12px;
        margin-top: 120px;
        border: none;
    }

    .org-detail__cnt-bot {
        background-color: var(--bgWhite);
        padding: 16px 8px;
        border-radius: 8px;
        box-shadow: 0 6px 15px #dcd8ee;
    }

    .org-detail__cnt-bot .icon {
        width: 16px;
        height: 16px;
    }

    .org-detail__cnt-bot .org-avatar {
        width: 48px;
        height: 48px;
        border: none;
    }

    .org-detail__cnt-bot .org-left-detail {
        width: calc(100% - 48px);
        padding-bottom: 12px;
    }

    .org-left-detail__name {
        font-size: 16px;
        line-height: 24px;
    }

    .org-left-detail__address,
    .org-left-detail__rate {
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
    }

    .org-time-work {
        padding: 8px 0px 0px 0px;
        width: 100%;
        margin: 0px;
    }

    .org-time-work .title,
    .org-time-work .time {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
    }

    /* org container */
    .org-container {
        padding: 12px 0px;
        top: 42px;
    }

    .org-container__tab-cnt {
        width: 100%;
        overflow-x: scroll;
        padding-right: 20px;
    }

    .org-tab-list {
        width: max-content;
    }

    .org-tab-list li {
        width: fit-content;
        margin-left: 12px;
    }

    .org-tab-list__item {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
    }

    /* org discounts */
    .org-deal-hot {
        padding: 0px;
    }

    .org-deal-hot__discounts {
        width: 100%;
        height: 290px;
        overflow-x: scroll;
    }

    .org-deal-hot__discounts .list {
        flex-wrap: nowrap;
        width: max-content;
    }

    .org-deal-hot__discounts .list li {
        width: 164px;
        height: 278px;
    }

    .org-deal-hot__section {
        padding: 24px 12px;
    }

    .org-special__list {
        display: flex;
        flex-direction: column;
    }

    .org-special__list li {
        width: 100%;
        padding: 12px 0px;
        border-bottom: solid 1px var(--bgGray);
    }

    .org-special-item {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .org-special-item__img {
        width: 68px;
        height: 68px;
        border-radius: 8px;
    }

    .org-special-item__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .org-special-item__detail {
        width: calc(100% - 68px);
        display: flex;
        justify-content: space-between;
        background-color: var(--bgWhite);
        padding: 0px 12px 0px 0px;
    }

    .org-special-item__detail .item-head {
        width: 58.1%;
    }

    .org-special-item__detail .item-price {
        width: 41.5%;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .org-special-item__rate {
        margin-left: -62px;
    }

    .org-special-item__rate .rate-item__count {
        font-size: 12px;
        line-height: 14px;
        color: var(--text-hover);
    }

    .org-information-cnt {
        display: flex;
        flex-direction: column;
        padding: 0px 12px;
    }

    .org-information {
        width: 100%;
        padding: 0px;
    }

    .org-information__map-cnt {
        height: 184px;
    }

    .org-information__map-cnt .map-org-detail {
        height: 92px;
    }

    .org-information__map-cnt .map-org-detail__item {
        height: 68px;
    }

    .map-org-detail__item .branch-detail .name {
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        color: var(--purple);
    }

    .map-org-detail__item .branch-detail .icon {
        width: 10px;
        height: 10px;
    }

    .map-org-detail__item .rate-item .rate-item__text {
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
    }

    .org-information__about {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }

    .org-information-utils .utils-item .icon {
        width: 12px;
        height: 12px;
    }

    .org-information-utils .utils-item span {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
}