.btn-loading{
    padding: 7px 18px;
    background-color: var(--purple);
    border:none;
    outline: none;
    cursor: pointer;
    background-color: var(--purple);
    color: var(--bgWhite);
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 18px;
    transition: all .3s;
    position: relative;
}
.btn-loading:hover{
    opacity: .8;
}
.loading-cnt{
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.509);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 4px;
}