.video-cnt-des{
    /* max-width: 470px; */
    margin: auto
}
.video-list-des .video-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.video-list-des .video-list .video-item-pc {
    width: 100%;
    height: auto;
    padding: 12px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    background: var(--bg-white);
    border-radius: 8px;
    margin-bottom: 16px;
}
.video-item-pc__wr{
    width: calc(100% * 8/10 - 8px);
    margin-right: 8px;
    cursor: pointer;
    position: relative;
    padding-bottom: calc(100% * 10/9);
}
.trend-item-ctn .video-item__pc{
    position: relative;
}
.video-item-pc__wr .video-item__pc{
    object-fit: cover;
    object-position: top;
    z-index: 3;
}
.video-item__pc{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    z-index: 0;
}
.blur{
    position: absolute;
    inset: 0;
    backdrop-filter: blur(20px);
    z-index: 2;
}
.back-drop__vid{
    object-fit: cover;
    object-position: center;
    z-index: 1;
}
.video-item-pc header, 
.video-item-header_ava{
    display: flex;
    align-items: center;
}
.video-item-pc header{
    flex-direction: row;
    justify-content: space-between;
}
.video-item-header_name{
    font-family: "Nunito";
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
    font-weight: 700;
    color: var(--text-black);
    margin-bottom: unset;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}
.video-item-header_time{
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #8C8C8C;
}
.video-item_body{

}
.video-item_body-image{
    overflow: hidden;
    display: flex;
}
.video-item_product_list{
    width: calc(100% * 2/10);
    position: relative;
    padding-bottom: calc(100% * 10/9);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}
.video-item_product_list>div{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100%;
}
.video-item_body-status{
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 12px 0;
}
.hastag{
    color: #8C8C8C;
}
.video-item_product_item{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    position: relative;
    margin-bottom: 8px;
}
.video-item_product_item-img{
    border-radius: 8px;
    overflow: hidden;
}
.video-item_product_item-title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #262626;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-wrap: break-word;
    overflow-y: hidden;
}
.video-item_product_item-price{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}
.video-item_product_item-special_price{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: #8C8C8C;
    text-decoration: line-through;
}
.video-item_product_item-add_cart{
    width: 12px;
    height: 12px;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}
.react-btn{
    display: flex;
    margin: 12px 0;
}
.react-btn>div{
    display: flex;
    align-items: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 0 6px;
}
.react-btn>div>span{
    margin-left: 4px;
    font-weight: 600;
}
.react-btn .icon{
    width: 16px;
}
.react-btn>div:first-child{
    margin-left: 0;
}
.react-btn>div:last-child{
    margin-right: 0;
}
.video-item_comments .evaluate-input{
    padding: 0;
}
.video-item-comments-preview_item{
    font-family: 'Nunito';
}
.video-item-comments-preview_item .cmt_name{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding-right: 6px;
}
.video-item-comments-preview_item .cmt_body{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}
.video-item-comments-read_all{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 12px;
    display: flex;
}
.video-item-comments-read_all>img{
    margin-left: 4px;
}
.video-item_dialog{
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    width: calc(100vw - 64px);
    height: 90vh;
}
.video-item_dialog{
    background-color: var(--bgWhite);
}
/* REVIEW COMPONENT CUSTOM  */
.video-item_dialog .org-evaluate__cnt .org-evaluate__title{
    display: none;
}
.video-item_dialog .org-evaluate__cnt .input-btn{
    right: 30px;
}
.video-item_dialog .org-evaluate__cnt .evaluate-rating{
    display: none;
}
.video-item_dialog .video-item-pc__wr{
    width: 70%;
}
.video-item_dialog .video-item-pc__wr .video-item__pc{
    /* width: max-content; */
}
.video-item_dialog-body{
    height: 100%;
    overflow-y: scroll;
    width: 30%;
}
.video-item_dialog-body{
    padding: 24px 0;
}
.video-item_dialog-body>header,
.video-item_dialog-body .video-item_body-status,
.video-item_dialog-body .video-item_react-ctn{
    padding-left: 16px;
    padding-right: 16px;
}
.video-item_dialog-body .org-evaluate__cnt .evaluate-input,
.video-item_dialog-body .org-evaluate__cnt .total-comment,
.video-item_dialog-body .org-evaluate__cnt .evaluate-comment{
    padding-left: 16px;
    padding-right: 16px;
}
.close_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
    background: var(--purple);
    border-radius: 100%;
}
.close_btn>img{
}
@media only screen and (min-width: 1023px){
    .video-item-pc__wr{
        width: 100%;
        padding-bottom: calc(100% * 0.5);
    }
    .video-item-pc__wr .video-item__pc{
        object-fit: contain;
        object-position: top;
        z-index: 3;
    }
    .video-item_product_list{
        padding-bottom: calc(100% * 0.5);
    }   
    .video-item__pc.back-drop__vid{
        object-fit: cover;
        object-position: center;
        z-index: 1;
    }
}
@media only screen and (max-width: 1023px){
    .video-item_dialog .video-item-pc__wr{
        width: 50%;
    }
    .video-item_dialog-body{
        width: 50%;
    }
    .video-item_dialog .video-item-pc__wr{
        padding-bottom: 50%;
    }
    .video-item_dialog .video-item-pc__wr .video-item__pc{
        object-fit: contain;
        object-position: center;
        width: 100%;
        z-index: 3;
    }
    .video-item_dialog .video-item-pc__wr .video-item__pc.back-drop__vid{
        z-index: 1;
        object-fit: cover;
    }
    .video-item_dialog{
        height: 100vh;
    }
}

@media only screen and (max-width: 475px){
    .close_btn{
        left: 10px;
        right: unset;
    }
    .video-item_dialog{
        flex-direction: column;
        width: 100vw;
        overflow-y: scroll;
    }
    .video-item_dialog .video-item-pc__wr{
        width: 100%;
        padding-bottom: calc(100% * 1024/576);
    }
    .video-item_dialog-body{
        width: 100%;
        overflow-y: unset;
        height: max-content;
    }
    .blur,
    .video-item__pc.back-drop__vid{
        display: none;
    }
}