.sectionHeadWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home_title {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 24px;
	font-weight: 700;
}
.homeSeemore {
	font-size: 14px;
	color: var(--purple);
	font-weight: bold;
	cursor: pointer;
}

@media screen and (max-width: 767.98px) {
	.sectionHeadWrap {
		padding: 0 16px;
	}
	.title {
		font-size: 20px;
	}
}
