.dialog-map__org {
    width: 90vw;
    height: 90vh;
}
.map-list__mobile {
    display: none;
}
.dialog-map__org .dialog-map__close {
    position: absolute;
    top: 14px;
    right: 60px;
    z-index: 2;
    background-color: var(--purple);
    border-radius: 100px;
    padding: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}
.dialog-map__org .dialog-map__close-img {
    width: 30px;
    height: 30px;
}

.dialog-map__org .dialog-map__close img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dialog-map__org .dialog-map__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--bgWhite);
    z-index: 4;
    border-right: 1px solid #ccc;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.dialog-map__org .dialog-map__list::-webkit-scrollbar {
    width: 2px;
    display: block;
}
.dialog-map__org .dialog-map__list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

.list-org__active {
    margin-left: 0 !important;
    transition: all 0.2s ease-in !important;
}
.dialog-map__org .dialog-map__item {
    display: flex;
    background-color: var(--bgWhite);
    flex-shrink: 0;
    overflow: hidden;
    grid-gap: 0 16px;
    padding: 16px;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
    user-select: none;
}
.dialog-map__org .dialog-map__item:hover {
    background-color: var(--bgGray) !important;
    transition: all 0.2s ease-out;
}
.dialog-map__org .dialog-map__item:not(:last-child) {
    border-bottom: 1px solid rgba(204, 204, 204, 0.539);
}
.dialog-map__org .map-item__img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
}
.dialog-map__org .map-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .dialog-map__org .map-item__content {
    padding: 16px;
} */
.dialog-map__org .map-item__name p {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.dialog-map__org .map-item__address p {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: #8c8c8c;
    margin-top: auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.dialog-map__org .map-item__evaluate {
    display: flex;
    grid-gap: 0 16px;
}

.dialog-map__org .evaluate-item {
    display: flex;
    grid-gap: 0 4px;
    align-items: center;
}
.dialog-map__item .map-item__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 4px 0;
    flex: 1;
    height: 100%;
}
.dialog-map__org .evaluate-item img {
    width: 14px;
    height: 14px;
}
.dialog-map__org .evaluate-item p {
    font-size: 14px;
    font-weight: bold;
}
.dialog-map__org .dialog-map__wrapper {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 25%;
    top: 0;
    left: 0;
    margin-left: -25%;
    transition: all 0.3s ease-in !important;
}
.dialog-map__org .open-list__org {
    z-index: 6;
    position: absolute;
    padding: 16px 8px;
    top: 50%;
    transform: translateY(-50%);
    width: max-content;
    background-color: var(--purple);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}
.dialog-map__org .open-list__org.open {
    left: 0;
    z-index: 6;
}
.dialog-map__org .open-list__org.close {
    z-index: 6;
    right: -23px;
}
/* cus google map marker */

.gm-style .gm-style-iw-c {
    width: max-content;
    background-color: var(--purple);
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    max-width: 500px !important;
    max-height: 326px !important;
    min-width: 0px !important;
    padding-right: 8px !important;
    margin-right: 8px !important;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}
.gm-style .gm-style-iw-t::after {
    background: var(--purple);
    z-index: 2;
}
.gm-ui-hover-effect {
    display: none !important;
}
@media only screen and (max-width: 1023px) {
    .dialog-map__org .evaluate-item p {
        font-size: 12px;
    }
    .dialog-map__org {
        width: 100vw;
        height: 100vh;
    }
    .dialog-map__org .dialog-map__wrapper {
        display: none;
    }
    .dialog-map__org .open-list__org {
        display: none;
    }
    .map-cnt {
        border-radius: unset;
    }
    .map-list__mobile {
        display: block !important;
        width: 100%;
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .map-cnt .map-item__mobile {
        width: 100%;
        background-color: var(--bgWhite);
        display: flex;
        flex-direction: row;
        box-shadow: 0 0 6px 0 rgb(0 0 0 / 34%);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 1px solid #ccc;
        border-radius: 12px;
        align-items: center;
    }
    .map-item__mobile .item-img {
        width: 136px;
        height: 136px;
        padding: 12px;
        flex-shrink: 0;
    }
    .map-list__mobile .map-item__wrap {
        padding: 16px 6px;
    }
    .map-item__mobile .item-img img {
        border-radius: 12px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 8px 24px rgb(149 157 165 / 20%);
    }
    .map-item__mobile .item-content {
        padding: 12px 12px 12px 0;
        display: flex;
        flex-direction: column;
        gap: 4px 0;
    }
    .map-item__mobile .item-content__name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    .map-item__mobile .item-content__name p {
        font-size: 14px;
        font-weight: bold;
    }
    .map-list__mobile .item-content__address {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    .map-list__mobile .item-content__address p {
        font-size: 12px;
        font-weight: bold;
        color: #8c8c8c;
    }
    .map-list__mobile .item-content__evaluate {
        display: flex;
        grid-gap: 0 8px;
    }
    .map-list__mobile .item-content__evaluate .evaluate-item {
        display: flex;
        grid-gap: 0 4px;
    }
    .map-list__mobile .evaluate-item__img {
        width: 16px;
        height: 16px;
    }
    .map-list__mobile .evaluate-item__img img {
        width: 100%;
        height: 100%;
    }
    .dialog-map__org .gm-fullscreen-control {
        display: none;
    }
    .dialog-map__org .gmnoprint {
        display: none;
    }
    .dialog-map__org .dialog-map__close {
        right: 16px;
    }
}
