.trend-ctn{
    padding: 8px 0 12px;
    margin-bottom: 8px;
    margin-top: 8px;
    background: var(--bg-white);
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    border-radius: 8px;
}
.trend-ctn-head{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: "Nunito";
    color: var(--purple-text);
    margin: 12px;
    justify-content: space-between;
}
.trend-ctn-head>h1{
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}
.trend-ctn-head .watch-more{
    font-weight: 600;
    font-family: 'Quicksand';
    font-size: 12px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    cursor: pointer;
}
.trend-ctn-head .watch-more .icon{
    width: 6px;
    margin-right: 5px;
}
.trend-ctn-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}
.trend-ctn-body .trend-item-ctn{
    display: flex;
    width: 127px;
    min-width: 127px;
    height: 196px;
    border-radius: 8px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(217, 217, 217, 0) 100%, rgba(0, 0, 0, 0) 100%);
    margin: 0 6px;
    position: relative;
}
.trend-ctn-body .trend-item-ctn:first-child{
    margin-left: 12px;
}
.trend-ctn-body .trend-item-ctn video.video-item__pc{
}
.trend-ctn-body .trend-item-ctn .logo{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 6px;
    top: 6px;
    background: transparent;
    border-radius: 100%;
    backdrop-filter: blur(10px);
    overflow: hidden;
    z-index: 1;
    border: 1px solid #8C8C8C;
}
.trend-ctn-body .trend-item-ctn .title{
    position: absolute;
    color: white;
    bottom: 0;
    padding: 12px;
}
.trend-ctn-body .trend-item-ctn .title .text{
    font-family: 'Nunito';
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-wrap: break-word;
    overflow-y: hidden;
}