.combo-cnt {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 64px 0;
}

.combo-cnt__left {
    width: 50%;
    padding-right: 36px;
}

.combo-cnt__left-img {
    width: 100%;
    height: 392px;
    object-fit: cover;
    -webkit-filter: drop-shadow(0 6px 15px #dcd8ee);
    filter: drop-shadow(0 6px 15px #dcd8ee);
    border-radius: 24px;
}
.combo-name{
    font-size: 26px;
    line-height: 36px;
    color: var(--purple);
    white-space: pre-line;
    font-weight: 700;
}
.combo-detail__list-item .title{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: var(--purple);
}
.combo-detail__list-item .item{
    padding: 8px;
    margin: 3px 0px;
}
.combo-detail__list-item .item-combo__cnt{
    background-color: var(--bgWhite);
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 6px 15px #dcd8ee;
}
.combo-detail__list-item .item-combo__img{
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 8px;
}
.combo-detail__list-item .item-combo__detail{
    width: calc(100% - 112px);
    padding-left: 12px;
}
.combo-detail__list-item .item-combo__detail .name{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--text-black);
}
.combo-cnt__right-head{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 12px;
    border-bottom: solid 1px var(--purple);
}
.right-combo__name{
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    color: var(--text-black);
}
.right-combo__org-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--purple);
    margin: 4px 0;
}
.right-combo__old-price{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--black);
    text-decoration: line-through;
}
.right-combo__sale-percent{
    margin-top: 6px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: var(--bgWhite);
    background-color: var(--red-cl);
    padding: 8px 16px;
    border-radius: 8px;
    margin-right: 12px;
}
.right-combo__sale-price{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: var(--red-cl);
}