.home-discounts {
    margin: 32px 0px;
    width: 100vw;
    background-color: var(--red-cl);
    padding: 32px 0px;
}

.home-discounts__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
}
.home-discounts__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    color: #ffe818;
    margin-bottom: 16px;
}
.home-discounts__title span:nth-child(2) {
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}
.home-discounts__list .item-cnt {
    padding: 8px;
    width: 16.666%;
    cursor: pointer;
}
.home-discount-item__cnt {
    width: 100%;
    border-radius: 8px;
    transition: all 0.4s;
    cursor: pointer;
}

.home-discount-item__img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}
.home-discount-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-discount-item__detail {
    padding: 8px;
    background-color: #fff;
    border-radius: 0px 0px 8px 8px;
}

.home-discount-item__detail .name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    min-height: 32px;
    color: var(--text-black);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.home-discount-item__detail .price {
    padding: 2px 0px;
}
.home-discount-item__detail .price .sale-price {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: var(--red-cl);
    margin-right: 6px;
}
.home-discount-item__detail .price .old-price {
    font-size: 12px;
    line-height: 14px;
    color: var(--text-hover);
    font-weight: 700;
    text-decoration: line-through;
}
.home-discount-item__cnt .address {
    display: flex;
    align-items: flex-start;
}
.home-discount-item__cnt .address img {
    margin: 2px 4px 0px 0px;
}
.home-discount-item__cnt .address span {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: var(--text-black);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.home-discount-item__cnt .limit-bar {
    margin-top: 6px;
    background: var(--red-cl);
    background: linear-gradient(to right, #ff721f 0%, #f5c031 100%);
    background: -webkit-linear-gradient(to right, #ff721f 0%, #f5c031 100%);
    border-radius: 12px;
    height: 18px;
    position: relative;
}
.home-discount-item__cnt .limit-bar__used {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    border-radius: 9px;
}
.home-discount-item__cnt .limit-bar__num {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: var(--bgWhite);
    text-align: center;
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-discounts {
        padding: 24px;
    }
    .home-discounts__list {
        grid-template-columns: repeat(5, 1fr);
    }
}
/* Mobile */
@media only screen and (max-width: 767px) {
    .home-discounts {
        padding: 0px;
        margin: 16px 0;
    }
    .home-discounts__list-wrap {
        overflow-x: scroll;
    }
    .home-discounts__list {
        padding: 12px;
        display: flex;
        flex-shrink: 0;
        width: max-content;
        flex-wrap: nowrap;
        grid-gap: 12px;
    }
    .home-discounts__title {
        padding: 12px 12px 0 12px;
        margin-bottom: 0;
    }
    .home-discounts__title span:nth-child(1) {
        font-size: 14px;
    }
    .home-discounts__title span:nth-child(2) {
        font-size: 12px;
    }
    .home-discounts__list li {
        width: 164px;
    }
}
