.detail-right__calc{
    align-items: flex-start;
}
.detail-right__calc .total-title,
.detail-right__calc .total-math span{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}
.detail-right__calc .total-math{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.detail-right__warn{
    margin-top: 12px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: var(--red-cl);
}
.service-detail__mobile-avi{
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: var(--red-cl);
}