.order {
  padding-left: 12px;
}

.order-head {
  padding-bottom: 24px;
  border-bottom: solid 1px var(--purple);
  width: 100%;
}

.order-head span {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--purple);
}

.order-list__cnt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.order-list-tab .MuiTabPanel-root {
  padding: 12px 0px !important;
}

.order-list-tab .MuiButtonBase-root {
  color: var(--purple) !important;
  text-transform: none !important;
}

.order-list-tab .MuiTabs-indicator {
  background-color: var(--purple) !important;
}

/* order item */
.order-list__cnt li {
  width: 50%;
  padding: 6px;
}

.order-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--white);
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.order-item__head .left {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--black);
}

.order-item__head .left span {
  font-weight: 700;
}

.order-item__head .right {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--purple);
}

.order-item__date {
  margin-top: 8px;
  padding-top: 8px;
  border-top: dashed 1px var(--grey);
}

.order-item__date .left img {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.order-item__date .left span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--black);
}

.order-item__date .right {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: var(--text-hover);
}

.order-item__body {
  padding: 8px 0px;
  border-bottom: solid 1px var(--grey);
}

.order-item__body-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.order-item__body-de {
  width: calc(100% - 100px);
  padding-left: 8px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-item__body-de .org__address {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.order-item__body-de .price span:nth-child(1) {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--purple);
}

.order-item__body-de .price span:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--text-hover);
  text-decoration: line-through;
  margin-left: 6px;
}

.order-item__status {
  padding-top: 4px;
}

.order-item__status .left {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.order-item__status .order-amount {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--orange);
  margin-right: 8px;
}

.order-item__status .status {
  padding: 2px 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
  background-color: var(--green);
  border-radius: 4px;
}


/* end order item */

.order-pagination {
  margin-top: 12px;
}

.order__bot {
  width: 100%;
  text-align: center;
  margin-top: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--purple);
  cursor: pointer;
}
.order-list__bottom{
  margin-top: 12px;
  display: flex;
  justify-content: center;
}


/* Mobile */
@media only screen and (max-width: 1023px) {
  .order-head {
    padding-bottom: 6px;
  }

  .order {
    padding: 12px;
  }

  .order-list-tab .MuiTabs-root {
    min-height: 0px !important;
    border-bottom: solid 1px var(--grey) !important;
  }

  .order-list-tab .MuiButtonBase-root {
    min-height: 0px !important;
    padding: 4px 12px !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    font-family: "Nunito" !important;
    width: 50% !important;
  }

  .order-list-tab .MuiTabs-indicator {
    width: 24px !important;
    margin-left: 20% !important;
  }

  .order-list__cnt li {
    width: 100%;
    padding: 8px 0px;
  }

  .order-list-tab .MuiTabPanel-root {
    padding: 0px !important;
  }

  /* order item */
  .order-item {
    border: solid 1px var(--grey);
  }

  .order-item__head .left {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .order-item__head .right {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .order-item__date .left span {
    font-size: 14px;
    line-height: 20px;
  }

  .order-item__date .right {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .order-item__body-img {
    width: 72px;
    height: 72px;
  }

  .order-item__body-de {
    width: calc(100% - 72px);
    height: 72px;
  }

  .order-item__body-de .org__address {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .order-item__status .status {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  /* order item end */
  .order-list__bottom button{
    background-color: transparent;
    color: var(--purple);
  }

}