.footer{
      width: 100%;
      background-color: var(--purple);
      padding-bottom: 42px;
}
.footer-cnt{
      width: 100%;
      padding: 42px 0px;
      display: flex;
      flex-direction: row;
}
.footer-cnt .wrap{
      width: 25%;
      padding: 0px 10px;
}
.footer-cnt__item-title{
      font-size: 24px;
      line-height: 28px;
      color: var(--bgWhite);
      font-weight: 700;
}
.footer-cnt__item ul{
      margin-top: 18px;
}
.footer-cnt__item ul li{
      color: var(--bgWhite);
      cursor: pointer;
      margin: 4px 0px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
}
.footer .address{
      text-align: center;
      margin-top: 32px;
      font-size: 10px;
      line-height: 14px;
      color: var(--bgWhite);
      cursor: pointer;
}
/* Mobile */
@media only screen and (max-width: 769px) {
      .footer{
            display: none;
      }
      .footer-cnt{
            flex-direction: column;
            padding: 24px 0px;
      }
      .footer-cnt__item-title {
            width: 100%;
            text-align: center;
            margin-top: 12px;
      }
      .footer-cnt .wrap{
            width: 100%;
      }
      .footer-cnt__item ul{
            margin-top: 12px;
      }
      .footer-cnt__item ul li {
            text-align: center;
      }
}