.pr-result-cnt {
    margin-top: 48px;
    padding: 12px;
    background-color: var(--white);
}

.pr-result-cnt__list-item {
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    border-bottom: solid 1px var(--bgGray);
    color: var(--black2);
}

.pr-result-cnt__list-item .item-img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
}

.pr-result-cnt__list-item .item-detail {
    width: calc(100% - 100px);
    padding-left: 12px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pr-result-cnt__list-item .item-detail__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--black2);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.pr-result-cnt__list-item .item-detail__price span:nth-child(1) {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--orange);
}

.pr-result-cnt__list-item .item-detail__price span:nth-child(2) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: var(--grey);
    margin-left: 8px;
    text-decoration: line-through;
}

.pr-result-cnt__list-item .item-detail__bot .left img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 8px;
}

.pr-result-cnt__list-item .item-detail__bot .left div {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    width: 72px;
    height: 12px;
    overflow: hidden;
}

.pr-result-cnt__list-item .item-detail__bot .img-icon {
    width: 10px;
    height: 10px;
    margin-right: 2px;
}

.pr-result-cnt__list-item .item-detail__bot span {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}
.pr-result-cnt__list-item .item-detail__bot .right-item-last{
    margin-left: 18px;
}