.chat-org-cnt {
    position: fixed;
    bottom: 0;
    width: 328px;
    height: 480px;
    z-index: 100;
    background-color: var(--white);
    right: 0;
    margin-right: calc(50vw - 600px);
    margin-bottom: -480px;
    transition: all .3s;
    box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.43);
    border-radius: 6px 6px 0px 0px;
}

.chat-org-wrap {
    position: relative;
    height: 100%;
}

.chat-org-cnt__act {
    margin-bottom: 0px;
    transition: all .3s;
}

.chat-org__head {
    padding: 8px;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
}

.chat-org-left__avt {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.chat-org-left__name {
    margin-left: 4px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.chat-org__head-btn,
.chat-org__bottom .icon-btn {
    margin-left: 6px;
    border: none;
    outline: none;
    background-color: transparent;
}

.chat-org__head-btn img {
    width: 14px;
    height: 14px;
}

.chat-org__body {
    width: 100%;
    height: calc(100% - 104px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chat-org__bottom {
    position: absolute;
    z-index: 3;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding: 8px;
}

.chat-org__bottom .icon-btn img {
    width: 24px;
    height: 24px;
}

.chat-org__bottom-inp {
    width: calc(100% - 24px);
    padding-left: 8px;
    position: relative;
}

.chat-org__bottom-inp input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: var(--text-black);
    border: none;
    outline: none;
    background-color: var(--grey);
    border-radius: 16px;
    padding-right: 30px;
}

.chat-org__bottom-inp-icon {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 6px 8px 0px 0px;
}

.chat-org__body-wrap-item {
    display: flex;
    height: fit-content;
    justify-content: start;
    padding: 12px 0px;
}

.chat-org__body-item {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.chat-org__body-item .avatar {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    object-fit: cover;
    margin: 0px 8px;
}

.chat-org__body-item__text {
    width: fit-content;
    max-width: calc(100% - 38px);
    background-color: var(--grey);
    padding: 6px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}
.chat-item-user{
    background-color: var(--purple);
    color: var(--white);
}