/* cus tab MUI */

.service-detail .MuiTabs-root {
    min-height: 48px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
}

.service-detail .MuiTabs-scroller {
    overflow-x: scroll !important;
    border-bottom: 1px solid #ccc;
}

.service-detail .MuiTab-root.Mui-selected {
    color: var(--purple) !important;
}

.service-detail .MuiTab-root {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: inherit;
    padding: 8px 0;
    max-width: unset;
    min-width: unset;
    margin-right: 16px;
    min-height: 48px;
}

.service-detail .MuiTabs-indicator {
    background-color: var(--purple) !important;
}

.service-detail .MuiTabPanel-root {
    padding: 0;
}

.service-detail .service-detail__bottom {
    display: none;
}

.service-detail .detail-right__head-img {
    display: none;
}

.service-detail .detail-right__duration-wrap {
    display: flex;
    align-items: center;
    gap: 0 8px;
    padding: 8px 0;
}

.service-detail .detail-right__duration-wrap p {
    font-weight: bold;
}

.service-detail__org-mb {
    display: none;
}


/* end cus tab MUI */

.flexX-gap-8 {
    display: flex;
    gap: 0 8px;
    grid-gap: 0 8px;
    align-items: center;
}

.flexX-gap-4 {
    display: flex;
    gap: 0 4px;
    grid-gap: 0 4px;
    align-items: center;
}

.service-detail {
    padding: 48px 0;
}

.service-detail__head {
    display: flex;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    background-color: #fff;
    justify-content: space-between;
}

.service-detail .service-detail__left {
    width: 42%;
    height: 100%;
    padding: 24px;
    background-color: #fff;
    flex-shrink: 0;
}

.service-detail .service-detail__right {
    width: 58%;
    padding: 24px;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.service-detail .detail-left__img {
    width: 450px;
    height: 450px;
}

.service-detail .detail-left__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 8px;
}

.detail-left__img-item {
    width: 100%;
    height: 450px;
    position: relative;
}

.detail-left__img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.detail-left__img-item-video {
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.service-detail .detail-left__slider-nav {
    margin-top: 24px;
    width: 100%;
}

.slick-current .slider-nav__video,
.slick-current .slider-nav__img {
    border: 2px solid var(--red-cl);
}

.service-detail .slick-track {
    margin: unset;
}

.service-detail .detail-left__slider-nav .slick-slide {
    width: unset !important;
    display: flex;
}

.service-detail .detail-left__slider-nav .slick-slide>div {
    margin-right: 16px;
}


/* cus btn arr img */

.detail-btn__prev,
.detail-btn__next {
    position: absolute;
    opacity: 0;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-out;
    padding: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.detail-btn__prev {
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    left: 0;
}

.detail-btn__next {
    right: 0;
}

.detail-btn__prev .detail-btn__prev-img,
.detail-btn__next .detail-btn__next-img {
    width: 30px !important;
    height: 30px !important;
}

.detail-left__img:hover .detail-btn__prev {
    opacity: 0.7;
    visibility: visible;
    left: 14px;
    transition: all 0.3s ease-in;
}

.detail-left__img:hover .detail-btn__next {
    opacity: 0.7;
    right: 14px;
    visibility: visible;
    transition: all 0.3s ease-in;
}

.slider-nav__video,
.slider-nav__img {
    width: 82px !important;
    cursor: pointer;
    height: 82px;
    border: 2px solid rgba(204, 204, 204, 0.419);
}

.slider-nav__img img {
    width: 100%;
    height: 100%;
}

.slider-nav__img {
    width: 82px;
    height: 82px;
}

.slider-nav__video .slider-video {
    width: 100%;
    height: 100%;
}

.service-detail .service-detail__org .service-detail__title {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
}

.service-detail .detail-right__name {
    position: relative;
}

.service-detail .detail-right__name .favorite {
    position: absolute;
    padding: 8px;
    top: 0px;
    right: 0;
    background-color: #eeedf2;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
}

.service-detail .detail-right__name p {
    font-size: 24px;
    font-weight: 500;
    width: 90%;
    line-height: 36px;
}

.service-detail .detail-right__org p {
    font-size: 16px;
    font-weight: bold;
    color: var(--purple);
    padding: 0 10px;
}

.service-detail .detail-right__org p:nth-child(1) {
    border-right: 1px solid var(--purple);
}

.service-detail .detail-right__org {
    display: flex;
    margin-left: -10px;
    margin-bottom: 8px;
}

.service-detail .detail-right__evaluate {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 8px 0 8px -10px;
}

.service-detail .evaluate-item {
    display: flex;
    align-items: center;
    grid-gap: 0 4px;
    padding: 0 10px;
}

.evaluate-item__wrap {
    display: flex;
}

.evaluate-item__wrap .evaluate-item:first-child {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.service-detail .evaluate-item p {
    font-size: 14px;
    font-weight: normal;
    color: gray;
    font-weight: bold;
}

.service-detail .detail-right__percent {
    clip-path: polygon(0 0, 92% 0, 100% 50%, 92% 100%, 0 100%, 7% 50%);
    background-color: var(--red-cl);
    padding: 2px 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
}

.service-detail .detail-right__percent p {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    font-size: 16px;
}

.service-detail .detail-right__duration {
    padding: 4px 8px;
    background-color: var(--bgWhite);
    width: max-content;
    border-radius: 8px;
    margin: 8px 0;
}

.service-detail .detail-right__duration p {
    font-size: 16px;
    font-weight: bold;
}

.service-detail .detail-right__duration img {
    width: 20px;
    height: 20px;
}

.service-detail .service-detail__right .detail-right__price .price {
    font-size: 32px;
    font-weight: bold;
}

.service-detail .service-detail__right .detail-right__body {
    display: flex;
    grid-gap: 0 24px;
    width: 100%;
    margin: 24px 0;
}

.service-detail .detail-right__info {
    width: 55%;
}

.service-detail .detail-right__infoMer {
    width: 45%;
    display: flex;
    flex-direction: column;
    grid-gap: 8px 0;
    padding: 16px;
    border-radius: 4px;
    box-shadow: rgb(242 242 242) 1px 1px 0px 0px inset, rgb(242 242 242) -1px -1px 0px 0px inset;
}

.service-detail .infoMer-top {
    display: flex;
    align-items: center;
    grid-gap: 0 8px;
}

.service-detail .infoMer-top__name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.service-detail .infoMer-top__img {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.service-detail .infoMer-top__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-detail .infoMer-top__right {
    font-size: 16px;
    font-weight: bold;
}

.service-detail .infoMer-top__right .infoMer-top__address {
    margin-top: 4px;
    font-size: 14px;
    color: rgb(128, 128, 137);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.service-detail .infoMer-mid {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}

.service-detail .infoMer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 4px 0;
}


/* .service-detail .infoMer-item:not(:nth-child(3)) {
    border-right: 1px solid #ccc;
} */

.service-detail .infoMer-item__wrap p {
    font-weight: bold;
}

.service-detail .infoMer-item__text {
    font-size: 12px;
    font-weight: bold;
    color: rgb(128, 128, 137);
}

.service-detail .infoMer-bottom {
    display: flex;
    grid-gap: 0 10px;
}

.service-detail .infoMer-bottom__left,
.service-detail .infoMer-bottom__right {
    width: 50%;
    padding: 4px 8px;
    display: flex;
    grid-gap: 0 4px;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--purple);
    color: var(--purple);
    background-color: #fff;
    font-weight: bold;
}

.service-detail .infoMer-bottom__right img {
    width: 20px;
    height: 20px;
}

.service-detail .detail-right__no {
    color: var(--red-cl);
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.service-detail .detail-right__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.service-detail .bottom-quantity__wrap {
    display: flex;
    align-items: center;
}

.service-detail .bottom-quantity__text {
    margin-bottom: 14px;
    font-weight: bold;
}

.service-detail .quantity-input {
    width: 40px;
    height: 35px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
}

.service-detail .quantity-btn:first-child {
    background-color: #ccc;
    font-size: 20px;
    font-weight: 700;
}

.service-detail .quantity-btn:last-child {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.service-detail .quantity-btn {
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    background-color: var(--purple);
    border-radius: 8px;
}

.service-detail .quantity-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-detail .bottom-addCart {
    padding: 8px 16px;
    background-color: var(--purple);
    display: flex;
    border-radius: 8px;
    grid-gap: 0 8px;
    cursor: pointer;
}

.bottom-buy__now {
    height: 40px;
    margin-right: 16px;
    background-color: var(--orange) !important;
}

.service-detail .bottom-addCart p {
    color: #fff;
    font-weight: bold;
}

.service-detail__tab {
    padding: 0 24px;
    background-color: #fff;
    margin: 24px 0;
}

.service-detail .service-detail__tabitem {
    padding: 24px 0;
}

.service-detail .service-detail__description {
    margin-bottom: 24px;
}

.service-detail .service-detail__description .service-description {
    margin-bottom: 14px;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: pre-line;
}

.service-detail .service-detail__comment {
    width: 50%;
    margin-bottom: 24px;
}

.service-detail .infoMer-bottom__right-active {
    border: 1px solid transparent;
    background-color: var(--purple);
    color: #fff;
}

.service-detail .service-detail__mobile {
    display: none;
}

.detailPolicy {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.detailPolicy-useguild__top {
    margin-bottom: 12px;
}

.detailPolicy-useguild .detailPolicy-useguild__top p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.detailPolicy-useguild__list {
    margin-top: 8px;
}

.detailPolicy-useguild__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    list-style-position: inside;
    list-style-type: disc;
    padding: 0 8px;
}

.detailPolicy-useGuild__bot {
    background-color: var(--red_2);
    padding: 16px;
}

.detailPolicy-useGuild__bot p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-align: center;
}

.detailPolicy-rules {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.detailPolicy-rules span:nth-child(1) {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.detailPolicy-rules span:nth-child(2),
.detailPolicy-rules span:nth-child(4) {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
}

.detailPolicy-rules span:nth-child(3),
.detailPolicy-rules span:nth-child(5) {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 8px 0;
}

.detail-recommend {
    padding: 24px;
    background-color: #fff;
}

.detail-recommend__title {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}

.detail-recommend__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
    margin-top: 24px;
}

.evaluate-rating__mobile {
    display: none;
}

.total-comment__wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.seemore-cmt {
    font-size: 14px;
    color: var(--purple);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    line-height: 34px;
}

.seemore-btn {
    font-size: 14px;
    color: var(--purple);
    margin: 0 auto;
    cursor: pointer;
}

.seemore-btn p {
    font-weight: 500;
    width: 80px;
    margin: 0 auto;
    text-align: center;
}

.seemore-btn p:nth-child(2) {
    display: none;
}

.change-text p:nth-child(1) {
    display: none;
}

.change-text p:nth-child(2) {
    display: block;
}

.unlimit-text {
    -webkit-line-clamp: unset !important;
}

@media only screen and (max-width: 1023px) {
    .service-detail .detail-right__evaluate {
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 4px 0;
        margin: 4px 0 4px -10px;
    }
    .service-detail .evaluate-item:first-child {
        border-right: 0;
    }
    .detail-left__slider-nav {
        display: none;
    }
    .detail-btn__prev,
    .detail-btn__next {
        opacity: 0.7;
        background-color: #fff;
        visibility: visible;
    }
    .detail-btn__next {
        right: 14px;
    }
    .detail-btn__prev {
        left: 14px;
    }
    .service-detail {
        padding: 0 0 92px 0;
        position: relative;
    }
    .service-detail .service-detail__description .service-description {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .seemore-btn {
        font-size: 12px;
    }
    .seemore-cmt {
        font-size: 12px;
    }
    .service-detail .detail-left__img img {
        border-radius: unset;
    }
    .service-detail .service-detail__description {
        font-size: 14px;
    }
    .service-detail .service-detail__tabitem {
        padding: 16px 0;
    }
    .service-detail .service-detail__tab {
        margin: 12px 0 0 0;
        padding: 0 12px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .service-detail .service-detail__left {
        width: 100%;
        padding: 0;
    }
    .service-detail .service-detail__mobile {
        display: block;
        width: 100%;
        background-color: #fff;
        padding: 12px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px 0;
        position: relative;
    }
    .service-detail .service-detail__comment {
        width: 100%;
        margin-bottom: 16px;
    }
    .service-detail .detail-left__img {
        width: 100%;
        height: 100%;
    }
    .service-detail .service-detail__wrap {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .service-detail .service-detail__mobile-name {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        max-width: 86%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    .detail-left__img-item,
    .detail-left__img-item-vd {
        height: 345px;
    }
    .service-detail .slick-slider {
        position: unset;
    }
    .service-detail .service-detail__mobile-favorite {
        position: absolute;
        padding: 8px;
        top: 12px;
        right: 13px;
        background-color: #eeedf2;
        width: 36px;
        height: 36px;
        border-radius: 100px;
        overflow: hidden;
    }
    .service-detail .service-detail__mobile-mid {
        display: flex;
        gap: 0 4px;
        align-items: center;
    }
    .service-detail .service-detail__mobile-mid img {
        width: 14px;
        height: 14px;
    }
    .service-detail .service-detail__mobile-mid p {
        font-weight: 500;
        font-size: 12px;
        color: #8c8c8c;
    }
    .service-detail .service-detail__mobile-bottom {
        display: flex;
        gap: 0 8px;
        align-items: center;
    }
    .service-detail .service-detail__mobile-percent {
        clip-path: polygon(0 0, 92% 0, 100% 50%, 92% 100%, 0 100%, 7% 50%);
        background-color: var(--red-cl);
        padding: 2px 10px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #fff;
    }
    .service-detail .MuiTab-root {
        font-size: 14px;
    }
    .service-detail .service-detail__mobile-price span:nth-child(1) {
        font-size: 20px;
        font-weight: bold;
        color: var(--red-cl);
    }
    .service-detail .service-detail__mobile-price span:nth-child(2) {
        color: rgb(128, 128, 137);
        font-size: 12px;
        text-decoration: line-through;
        margin-left: 8px;
    }
    .service-detail .service-detail__bottom {
        display: block;
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        padding: 12px 12px 24px 12px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        grid-gap: 0 8px;
        border-radius: 16px 16px 0 0 !important;
        overflow: hidden;
    }
    .service-detail .service-detail__bottom button {
        width: 100%;
        padding: 8px;
        outline: none;
        border: none;
        border-radius: 8px;
        background-color: var(--purple);
    }
    .service-detail .service-detail__bottom button p {
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
    .service-detail .service-detail__bottom .btn-addcart {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 0 8px;
    }
    .service-detail .service-detail__right {
        display: none;
    }
    .active-mb {
        border-radius: 16px;
        overflow: hidden;
    }
    .active-mb .service-detail__right {
        display: block;
        width: 100%;
        padding: 0;
    }
    .css-9emuhu-MuiPaper-root-MuiDrawer-paper {
        border-radius: 16px 16px 0 0;
    }
    .active-mb .detail-right__infoMer {
        display: none;
    }
    .active-mb .service-detail {
        padding: 12px 12px 24px 12px;
    }
    .active-mb .detail-right__info {
        width: 100%;
    }
    .active-mb .detail-right__head-img {
        display: block;
        width: 112px;
        height: 112px;
        border-radius: 8px;
        overflow: hidden;
        flex-shrink: 0;
    }
    .active-mb .detail-right__head-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .active-mb .detail-right__head-info {
        width: 100%;
    }
    .active-mb .detail-right__head {
        display: flex;
        grid-gap: 0 8px;
        align-items: center;
    }
    .active-mb .favorite {
        display: none;
    }
    .active-mb .detail-right__org {
        display: none;
    }
    .active-mb .detail-right__name p {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }
    .active-mb .service-detail__right {
        margin-top: 12px;
    }
    .active-mb .service-detail__right .detail-right__price span:nth-child(1) {
        font-size: 20px;
        font-weight: bold;
        color: var(--red-cl);
    }
    .active-mb .service-detail__right .detail-right__price span:nth-child(2) {
        color: rgb(128, 128, 137);
        font-size: 12px;
        line-height: 20px;
        text-decoration: line-through;
        margin-left: 8px;
    }
    .active-mb .service-detail__right .detail-right__body {
        margin: 16px 0 0 0;
    }
    .active-mb .detail-right__duration-wrap p {
        font-size: 14px;
    }
    .active-mb .detail-right__duration {
        font-size: 14px;
        margin: 0;
    }
    .active-mb .detail-right__duration img {
        width: 16px;
        height: 16px;
    }
    .active-mb .bottom-quantity__text {
        font-size: 14px;
        margin: 0;
    }
    .service-detail .detail-right__no {
        text-align: center;
        width: 100%;
    }
    .active-mb .detail-right__bottom {
        flex-direction: column;
        align-items: unset;
        grid-gap: 14px 0;
    }
    .active-mb .bottom-quantity {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .active-mb .quantity-btn {
        width: 28px;
        height: 28px;
        font-size: 14px !important;
    }
    .active-mb .bottom-addCart {
        width: 100%;
        padding: 8px;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
    .bottom-buy__now {
        margin: 0px;
    }
    .active-mb .detail-right__percent p {
        font-size: 14px;
    }
    .service-detail__org-mb {
        display: block;
    }
    .service-detail .infoMer-top__right {
        font-size: 14px;
    }
    .service-detail .infoMer-item__wrap p {
        font-size: 14px;
    }
    .service-detail .detail-right__infoMer {
        width: 100%;
        background-color: #fff;
        border-radius: 8px;
        padding: 12px;
        box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    }
    .service-detail .infoMer-mid {
        padding: 0px;
        justify-content: space-around;
    }
    .service-detail .MuiTabs-root {
        top: 49px;
    }
    .detail-recommend {
        padding: 0 12px 12px 12px;
    }
    /* policy */
    .detail-recommend__list {
        margin-top: 12px;
    }
    .detailPolicy-useguild .detailPolicy-useguild__top p {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    .detailPolicy-useGuild__bot {
        padding: 12px;
    }
    .detailPolicy-useguild__item {
        font-size: 12px;
    }
    .detailPolicy-useGuild__bot p {
        font-size: 12px;
    }
    .detailPolicy-rules {
        margin-top: 12px;
    }
    .detailPolicy-rules span:nth-child(1) {
        font-size: 16px;
        line-height: 24px;
    }
    .detailPolicy-rules span:nth-child(3),
    .detailPolicy-rules span:nth-child(7) {
        font-size: 12px;
        line-height: 16px;
        margin-top: 8px;
    }
    .detailPolicy-rules span:nth-child(5),
    .detailPolicy-rules span:nth-child(9) {
        font-size: 12px;
        line-height: 16px;
        margin: 8px 0 4px 0;
    }
    .detail-recommend__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px;
    }
    .evaluate-rating__mobile {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #ffe3d2;
        border-radius: 8px;
        padding: 8px;
    }
    .org-evaluate__cnt .evaluate-rating {
        display: none !important;
    }
    .evaluate-rating__mobile .rating-left {
        display: flex;
        align-items: center;
        grid-gap: 0 8px;
    }
    .evaluate-rating__mobile .rating-left__total {
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        color: #ff721f;
    }
    .evaluate-rating__mobile .rating-left__infor {
        display: flex;
        flex-direction: column;
    }
    .evaluate-rating__mobile .rating-left__text {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #1f1f1f;
    }
    .evaluate-rating__mobile .rating-right .rating-right__btn {
        outline: none;
        border: none;
        border: 1px solid #ff721f;
        padding: 4px 8px;
        border-radius: 8px;
        overflow: hidden;
        background-color: transparent;
    }
    .evaluate-rating__mobile .rating-right .rating-right__btn p {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #ff721f;
    }
}