.service-detail .service-detail__right .detail-right__price span:nth-child(1) {
    font-size: 32px;
    font-weight: bold;
    color: var(--red-cl);
}

.service-detail .service-detail__right .detail-right__price span:nth-child(2) {
    color: rgb(128, 128, 137);
    font-size: 14px;
    line-height: 20px;
    text-decoration: line-through;
    margin-left: 8px;
}

@media only screen and (max-width: 1023px) {
    .service-detail__mobile-price span:nth-child(1) {
        color: var(--red-cl);
        font-weight: 700;
        font-size: 24px;
    }

    .service-detail__mobile-price span:nth-child(2) {
        color: rgb(140, 140, 140);
        font-size: 14px;
        text-decoration: line-through;
        margin-left: 8px;
        font-weight: 500;
    }
}
