.org-evaluate {
    width: 50%;
}
.org-evaluate__cnt .evaluate-rating {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 16px;
}
.org-evaluate__cnt {
    padding: 0 0 24px 0;
}
.evaluate-rating__left,
.evaluate-rating__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 48px;
}
.evaluate-rating__left {
    border-right: 1px solid #ccc;
    grid-gap: 6px 0;
}
.evaluate-rating__total span:nth-child(1) {
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
}
.evaluate-rating__total span:nth-child(2) {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}
.evaluate-rating__quantity {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #8c8c8c;
}
.evaluate-rating__right {
    grid-gap: 4px 0;
}
.evaluate-rating__progress {
    display: flex;
    grid-gap: 0 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.evaluate-rating__progress span {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}
.progess-bar {
    height: 7px;
    width: 80%;
    background-color: var(--purple);
    border-radius: 50px;
}

/* input comment */
.evaluate-input {
    display: flex;
    grid-gap: 0 8px;
    align-items: center;
    width: 100%;
    padding: 24px;
}
.evaluate-input__ava {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}
.evaluate-input__ava img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100px;
    flex-shrink: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.evaluate-input__wrap {
    width: 100%;
}
.evaluate-input {
    position: relative;
}
.evaluate-input__wrap input {
    width: 100%;
    padding: 10px 70px 10px 16px;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid #8c8c8c;
    color: var(--purple);
    font-weight: bold;
}
.input-btn {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    grid-gap: 0 8px;
    cursor: pointer;
}
.evaluate-input__wrap input::-webkit-input-placeholder {
    font-weight: bold;
    font-size: 14px;
    color: #8c8c8c;
    opacity: 0.8;
}
.evaluate-input__wrap input:focus {
    border-color: var(--purple);
    border: 1px solid #8c8c8c;
    color: var(--purple);
    -webkit-box-shadow: 0 0 0 4px rgba(222, 225, 255, 0.712);
    box-shadow: 0 0 0 4px rgba(227, 222, 255, 0.712);
}

/* comment */
.evaluate-comment {
    padding: 0 24px 24px 24px;
}
.evaluate-comment:not(:nth-child(3)) {
    margin-top: 24px;
}
.evaluate-comment:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
.evaluate-comment .evaluate-comment__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.evaluate-comment__tick {
    flex-shrink: 0;
}
.evaluate-comment__user {
    display: flex;
    grid-gap: 0 8px;
    align-items: center;
}
.comment-user__ava {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.comment-user__ava img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100px;
    flex-shrink: 0;
}
.comment-user__info {
    display: flex;
    flex-direction: column;
    grid-gap: 4px 0;
    font-size: 16px;
    font-weight: bold;
}

.evaluate-comment__body {
    display: flex;
    flex-direction: column;
    grid-gap: 8px 0;
    margin-top: 4px;
}
.evaluate-comment__body span:nth-child(1),
.evaluate-comment__body span:nth-child(4) {
    color: #8c8c8c;
}
.evaluate-comment .comment-img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 16px;
    overflow: hidden;
    margin: 8px 0;
}
.org-evaluate__cnt .total-comment {
    font-size: 14px;
    color: #8c8c8c;
    padding: 0 24px;
}
.evaluate-input__upload {
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    padding: 0 0 24px 24px;
    position: relative;
}
.evaluate-input__upload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
}
.btn-close {
    position: absolute;
    top: -10px;
    right: -10px;
    outline: none;
    border: none;
    border-radius: 100px;
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .org-evaluate {
        width: 100%;
    }
    .evaluate-rating {
        width: 66.66%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .org-evaluate {
        width: 100%;
    }
    .evaluate-comment__body {
        font-size: 14px;
    }
    .evaluate-rating {
        margin: 0 auto;
    }
    .evaluate-rating__left,
    .evaluate-rating__right {
        padding: 16px;
    }
    .evaluate-comment {
        padding: 16px 0;
    }
    .evaluate-comment:not(:nth-child(3)) {
        margin: 0;
    }
    .evaluate-rating__right {
        grid-gap: 0;
    }
    .evaluate-input {
        padding: 16px 0 16px 0;
    }
    .org-evaluate__cnt .total-comment {
        padding: 16px 0;
    }
    .input-btn {
        right: 16px;
    }
}
