.org-evaluate {
    width: 50%;
}

.org-evaluate__cnt {
    margin-bottom: 24px;
}

.org-evaluate__title {
    margin-bottom: 16px;
}

.org-evaluate__title p {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}

.org-evaluate__cnt .evaluate-rating {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 16px;
}

.evaluate-rating__left,
.evaluate-rating__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 48px;
}

.evaluate-rating__left {
    border-right: 1px solid #ccc;
    grid-gap: 6px 0;
}

.evaluate-rating__total span:nth-child(1) {
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
}

.evaluate-rating__total span:nth-child(2) {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.evaluate-rating__quantity {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #8c8c8c;
}

.evaluate-rating__right {
    grid-gap: 4px 0;
}

.evaluate-rating__progress {
    display: flex;
    grid-gap: 0 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.evaluate-rating__progress span {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.progess-bar {
    height: 7px;
    width: 80%;
    background-color: var(--purple);
    border-radius: 50px;
}

/* input comment */
.evaluate-input {
    display: flex;
    grid-gap: 0 8px;
    align-items: center;
    width: 100%;
    /* padding: 24px 24px 16px 24px; */
    margin: 24px 0;
}

.evaluate-input__change {
    position: fixed !important;
    bottom: 0;
    z-index: 2;
    right: 0;
    width: 40vw;
    margin: 0;
    padding: 6px 12px;
    background-color: var(--white);
}

.evaluate-input__ava {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.evaluate-input__ava img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100px;
    flex-shrink: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.evaluate-input__wrap {
    width: 100%;
}

.evaluate-input {
    position: relative;
}

.evaluate-input__wrap input {
    width: 100%;
    padding: 10px 70px 10px 16px;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid #8c8c8c;
    color: var(--purple);
    font-weight: bold;
}

.input-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    grid-gap: 0 8px;
    cursor: pointer;
}

.evaluate-input__wrap input::-webkit-input-placeholder {
    font-weight: bold;
    font-size: 14px;
    color: #8c8c8c;
    opacity: 0.8;
}

.evaluate-input__wrap input:focus {
    border-color: var(--purple);
    border: 1px solid #8c8c8c;
    color: var(--purple);
    -webkit-box-shadow: 0 0 0 4px rgba(222, 225, 255, 0.712);
    box-shadow: 0 0 0 4px rgba(227, 222, 255, 0.712);
}

/* comment */
.evaluate-comment {
    padding: 0 12px 0 12px;
}

.evaluate-comment:not(:last-child) {
    padding-bottom: 12px;
}

.evaluate-comment {
    margin-top: 12px;
}

.evaluate-comment:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.evaluate-comment .evaluate-comment__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.evaluate-comment__tick {
    flex-shrink: 0;
}

.evaluate-comment__tick span {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: var(--green);
    margin-right: 4px;
}

.evaluate-comment__tick img {
    width: 20px;
    height: 20px;
}

.evaluate-comment__user {
    display: flex;
    grid-gap: 0 8px;
    align-items: center;
}
.evaluate-comment .MuiPaper-elevation {
    box-shadow: none;
}
.evaluate-comment .MuiAccordionSummary-root {
    min-height: unset;
    height: fit-content;
}
.evaluate-comment .MuiAccordionSummary-content {
    margin: 0px;
}
.evaluate-comment .Mui-expanded {
    margin: 6px 0px !important;
    min-height: unset !important;
}
.evaluate-comment .MuiAccordionDetails-root {
    padding: 0px;
}

.comment-user__ava {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.comment-user__ava img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100px;
    flex-shrink: 0;
}

.comment-user__info {
    display: flex;
    flex-direction: column;
    grid-gap: 4px 0;
    font-size: 16px;
    font-weight: bold;
}

.evaluate-comment__body {
    display: flex;
    flex-direction: column;
    grid-gap: 8px 0;
    margin-top: 4px;
}

.evaluate-comment__body span {
    color: var(--text-black);
    font-weight: bold;
    word-break: break-word;
}

.evaluate-comment__body span:nth-child(2),
.evaluate-comment__body span:nth-child(3) {
    color: #8c8c8c;
    font-weight: normal;
    font-size: 14px;
}

.evaluate-comment .comment-img__list {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 14px;
}

.evaluate-comment .comment-img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    margin: 8px 0;
}
.evaluate-comment .comment-img__item {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
}
.evaluate-comment .comment-img img,
.comment-img__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.org-evaluate__cnt .total-comment {
    font-size: 14px;
    color: #8c8c8c;
    padding: 0 24px;
}

.evaluate-input__upload {
    max-width: 150px;
    max-height: 150px;
    height: 150px;
    margin: 0 0 8px 24px;
    position: relative;
}

.evaluate-input__upload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 24px;
    overflow: hidden;
}

.btn-close {
    position: absolute;
    top: -10px;
    right: -10px;
    outline: none;
    border: none;
    border-radius: 100px;
}
.btn-close img {
    margin-top: 0;
}

.evaluate-comment__bot {
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
}

.evaluate-comment__bot-title span:nth-child(2) {
    cursor: pointer;
    background-color: var(--bg-color);
    padding: 2px 4px;
    margin-left: 6px;
    font-weight: 700;
    border-radius: 4px;
}

.evaluate-comment__child {
    padding-left: 24px;
}

.evaluate-comment__child-item {
    background-color: var(--grey_2);
    border-radius: 12px;
    padding: 12px;
    margin: 12px 0px;
}

.evaluate-comment__child-info img {
    width: 32px;
    height: 32px;
    border-radius: 100px;
}

.evaluate-comment__child-info .name {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    font-weight: 700;
    margin-left: 6px;
}

.evaluate-comment__child-item .text {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    display: block;
    margin: 10px 0;
}
.evaluate-comment__child-item .time-ago {
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
}

.evaluate-comment__child-reply {
    padding: 0px 6px;
    position: relative;
    margin-top: 6px;
}

.evaluate-comment__child-reply .avatar-reply {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    object-fit: cover;
}

.evaluate-comment__child-reply input {
    width: calc(100% - 44px);
    padding: 6px 70px 6px 16px;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid #8c8c8c;
    color: var(--purple);
    font-weight: 600;
}
.evaluate-comment__child-reply button {
    position: absolute;
    right: 0;
    margin-right: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}
.evaluate-comment__child-reply .btn-media {
    position: absolute;
    right: 42px;
    width: 20px;
    height: 20px;
}
.evaluate-comment__child-reply button img {
    width: 18px;
    height: 18px;
}
.evaluate-comment__child-img {
    width: 120px;
    height: 120px;
    background-color: burlywood;
    border-radius: 8px;
    position: relative;
}
/* .evaluate-comment__child-img .btn-close{
    
} */

@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .org-evaluate {
        width: 100%;
    }

    .evaluate-rating {
        width: 66.66%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .evaluate-comment .comment-img__list {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-gap: 14px;
        margin: 8px 0;
    }
    .evaluate-comment__body span:nth-child(2),
    .evaluate-comment__body span:nth-child(3) {
        font-size: 12px;
        font-weight: bold;
    }

    .MuiRating-root {
        font-size: 14px !important;
    }

    .evaluate-rating__quantity span {
        font-size: 14px;
    }

    .evaluate-rating__total span:nth-child(1) {
        font-size: 18px;
    }

    .evaluate-rating__total span:nth-child(2) {
        font-size: 14px;
    }

    .evaluate-rating__progress span {
        font-size: 14px;
    }

    .comment-user__info {
        font-size: 14px;
    }

    .org-evaluate {
        width: 100%;
    }

    .evaluate-comment__body {
        font-size: 14px;
    }

    .evaluate-rating {
        margin: 0 auto;
    }

    .evaluate-rating__left,
    .evaluate-rating__right {
        padding: 16px;
    }

    .evaluate-comment {
        padding: 16px 0;
    }

    .evaluate-comment:not(:nth-child(3)) {
        margin: 0;
    }

    .evaluate-rating__right {
        grid-gap: 0;
    }

    .evaluate-input {
        padding: 16px 0 16px 0;
        margin: 0;
    }

    .org-evaluate__cnt {
        margin-bottom: 0;
    }

    .org-evaluate__cnt .total-comment {
        padding: 0;
        font-size: 12px;
    }

    .input-btn {
        right: 16px;
    }

    .evaluate-input__change {
        width: 100%;
        padding: 6px 8px;
    }
}
