.head-home-mb {
    padding: 8px 12px;
    background-color: var(--white);
}

.head-home-mb__input {
    background-color: var(--grey_2);
    width: calc(100% - 80px);
    padding: 8px 12px;
    border-radius: 6px;
}

.head-home-mb__input img {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.head-home-mb__input span {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-hover);
}

.head-home-mb__button-item {
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: var(--grey_2);
}

.head-home-mb__button-item:nth-child(1) {
    margin-right: 8px;
}