.booking-cnt {
    margin: 48px 0px;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.booking-cnt__left {
    width: 58.1%;
}

.booking-cnt__right {
    width: 41.5%;
    /* background-color: burlywood; */
    padding-left: 8px;
}

.booking-cnt__right-org {
    display: flex;
}

.book-org-detail {
    padding-left: 6px;
}

.book-org-detail .org-name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--purple);
}

.book-org-detail .org-address {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: var(--text-hover);
    margin-top: 4px;
}

.booking-cnt__right-org .org-avt {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100%;
}

.booking-service-list {
    margin-top: 12px;
    padding-top: 12px;
    border-top: solid 1px var(--grey);
}

.book__service-item__img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 8px;
}

.book__service-item__de {
    padding-left: 16px;
}

.book__service-item__de .name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.book__service-item__de .quantity {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}

.booking-cnt__right-branches {
    margin-top: 12px;
    padding: 12px 0px;
    border-top: solid 1px var(--grey);
}

.booking-cnt__right-branches .branch-drop {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-top: 8px;
}

.booking-cnt__right-branches .branch-choose {
    background-color: var(--white);
    padding: 4px 6px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
}

.booking-cnt__right-branches .branch-choose span {
    width: calc(100% - 24px);
}

.booking-cnt__right-branches .branch-list {
    margin-top: 6px;
    background-color: var(--bgWhite);
    padding: 0px 6px;
    border-radius: 6px;
    height: 0px;
    overflow: hidden;
    transition: ease-out 0.3s;
}

.drop-show-branches {
    height: 150px !important;
    transition: ease-out 0.3s;
    overflow-y: scroll !important;
}

.booking-cnt__right-branches .branch-list li {
    padding: 4px 0px;
    cursor: pointer;
    border-bottom: solid 1px var(--grey);
    color: var(--text-hover);
    transition: all .3s;
}

.book-section-title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.booking-cnt__right-time,
.booking-cnt__right-note {
    margin: 8px;
    padding: 12px 0px;
    border-top: solid 1px var(--grey);
}

.booking-cnt__right-time .book-time {
    display: flex;
    flex-direction: column;
}

.booking-cnt__right-time .book-time span:nth-child(2) {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    margin-top: 8px;
    color: var(--text-black);
}

.booking-cnt__right-time textarea {
    margin-top: 12px;
    padding: 12px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    min-width: 100%;
    max-width: 100%;
    border-radius: 18px;
    border: none;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.book-time-cnt {
    width: 60vw;
    background-color: var(--bgWhite);
    padding: 24px;
}

.book-time-cnt__head {
    padding: 8px 0px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.book-time__date {
    width: 60%;
    padding-right: 6px;
}

.book-time__time {
    width: 40%;
    padding-left: 6px;
}

.book-time__btn {
    margin-top: 12px;
    padding: 8px 32px;
    background-color: var(--purple);
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--bgWhite);
}

.booking-cnt__bot {
    margin: 0px auto;
    width: fit-content;
}

@media only screen and (max-width: 1023px) {
    .booking-cnt {
        padding: 16px 12px;
        min-height: 100vh;
    }

    .booking-cnt__left {
        display: none;
    }

    .booking-cnt__right {
        width: 100%;
        padding-left: 0px;
    }

    .booking-cnt__right-org .org-avt {
        width: 48px;
        height: 48px;
    }

    .book__service-item__img {
        width: 78px;
        height: 78px;
    }

    .book__service-item__de .name {
        font-size: 12px;
        line-height: 18px;
    }

    .book__service-item__de .quantity {
        font-size: 12px;
        line-height: 16px;
    }

    .booking-cnt__right-branches .branch-drop {
        font-size: 12px;
        line-height: 14px;
    }

    .book-time-cnt {
        padding: 54px 12px 0px 12px;
        width: 100%;
        height: 100%;
    }

    .book-time-cnt__wrap {
        display: flex;
        flex-direction: column;
    }

    .book-time__date,
    .book-time__time {
        width: 100%;
        padding: 0px;
    }

    .book-time__time {
        margin-top: 12px;
        padding-top: 12px;
        border-top: solid 1px var(--grey);
    }

    .book-time__btn {
        width: calc(100% - 24px);
        position: fixed;
        bottom: 0;
        margin-bottom: 24px;
    }

}