.booking-cnt {
    margin: 48px 0px;
    background-color: var(--white);
    display: flex;
    padding: 12px;
    grid-gap: 0 12px;
}

.booking-cnt__left {
    width: 66.66%;
}

.booking-cnt__right {
    width: 33.33%;
}

.booking-cnt__right-org {
    display: flex;
}

.book-org-detail {
    padding-left: 6px;
}

.book-org-detail .org-name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--purple);
}

.book-org-detail .org-address {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: var(--text-hover);
    margin-top: 4px;
}

.booking-cnt__right-org .org-avt {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100%;
}

.booking-service-list {
    margin-top: 12px;
    padding-top: 12px;
    border-top: solid 1px var(--grey);
}

.book__service-item__img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 8px;
}

.book__service-item__de {
    padding-left: 16px;
}

.book__service-item__de .name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.book__service-item__de .quantity {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}

.booking-cnt__right-branches {
    margin-top: 12px;
    padding: 12px 0px;
    border-top: solid 1px var(--grey);
}

.booking-cnt__right-branches .branch-drop {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-top: 8px;
}

.booking-cnt__right-branches .branch-choose {
    background-color: var(--white);
    padding: 4px 6px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
}

.booking-cnt__right-branches .branch-choose span {
    width: calc(100% - 24px);
}

.booking-cnt__right-branches .branch-list {
    margin-top: 6px;
    background-color: var(--bgWhite);
    padding: 0px 6px;
    border-radius: 6px;
    height: 0px;
    overflow: hidden;
    transition: ease-out 0.3s;
}

.drop-show-branches {
    height: 150px !important;
    transition: ease-out 0.3s;
    overflow-y: scroll !important;
}

.booking-cnt__right-branches .branch-list li {
    padding: 4px 0px;
    cursor: pointer;
    border-bottom: solid 1px var(--grey);
    color: var(--text-hover);
    transition: all 0.3s;
}

.book-section-title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.booking-cnt__right-time,
.booking-cnt__right-note {
    margin: 8px;
    padding: 12px 0px;
    border-top: solid 1px var(--grey);
}

.booking-cnt__right-time .book-time {
    display: flex;
    flex-direction: column;
}

.booking-cnt__right-time .book-time span:nth-child(2) {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    margin-top: 8px;
    color: var(--text-black);
}

.booking-cnt__right-time textarea {
    margin-top: 12px;
    padding: 12px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    min-width: 100%;
    max-width: 100%;
    border-radius: 18px;
    border: none;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.book-time-cnt {
    width: 60vw;
    background-color: var(--bgWhite);
    padding: 24px;
}

.book-time-cnt__head {
    padding: 8px 0px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.book-time__date {
    width: 60%;
    padding-right: 6px;
}

.book-time__time {
    width: 40%;
    padding-left: 6px;
}

.book-time__btn {
    margin-top: 12px;
    padding: 8px 32px;
    background-color: var(--purple);
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--bgWhite);
}

.booking-cnt__bot {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-cnt .dialog-map__item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.booking-cnt .dialog-map__wrapper {
    bottom: 16px;
    left: 16px;
    top: unset;
    height: unset;
    width: 33.33%;
    margin-left: calc(-33.33% - 16px);
}

.booking-cnt .map-item__img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.booking-cnt .map-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.booking-cnt .map-item__name {
    font-size: 14px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.booking-cnt .dialog-map__list {
    display: flex;
    flex-direction: column;
    grid-gap: 8px 0;
    bottom: 0;
    right: 0;
}

.booking-cnt .map-item__address {
    font-size: 12px;
    font-weight: bold;
    color: #8c8c8c;
}

.booking-cnt .map-item__evaluate {
    display: flex;
    align-items: center;
    grid-gap: 0 8px;
}

.booking-cnt .map-item__evaluate .evaluate-item {
    display: flex;
    align-items: center;
    grid-gap: 0 4px;
}

.booking-cnt .map-item__evaluate .evaluate-item img {
    width: 16px;
}

.booking-cnt .map-item__evaluate .evaluate-item p {
    font-size: 12px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.booking-cnt .map-item__content {
    padding: 8px 8px 8px 0;
}

.booking-cnt .open-list__org {
    padding: 8px 16px;
    background-color: var(--purple);
    position: absolute;
    right: -50px;
    bottom: 0;
    z-index: 2;
    border-radius: 8px;
}

/* bottom bill */
.booking-cnt__bot-bill {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 12px;
}

.booking-cnt__bot-bill .left,
.booking-cnt__bot-bill .right {
    display: flex;
    flex-direction: column;
}

.booking-cnt__bot-bill .right {
    align-items: flex-end;
}

.booking-cnt__bot-bill .left span:nth-child(2),
.booking-cnt__bot-bill .right span:nth-child(2) {
    color: var(--orange);
}

@media only screen and (max-width: 1023px) {
    .booking-cnt {
        padding: 16px 12px 136px 12px;
        min-height: 100vh;
    }

    .booking-cnt__left {
        display: none;
    }

    .booking-cnt__right {
        width: 100%;
        padding-left: 0px;
    }

    .booking-cnt__right-org .org-avt {
        width: 48px;
        height: 48px;
    }

    .book__service-item__img {
        width: 78px;
        height: 78px;
    }

    .book__service-item__de .name {
        font-size: 12px;
        line-height: 18px;
    }

    .book__service-item__de .quantity {
        font-size: 12px;
        line-height: 16px;
    }

    .booking-cnt__right-branches .branch-drop {
        font-size: 12px;
        line-height: 14px;
    }

    .book-time-cnt {
        padding: 54px 12px 0px 12px;
        width: 100%;
        height: 100%;
    }

    .book-time-cnt__wrap {
        display: flex;
        flex-direction: column;
    }

    .book-time__date,
    .book-time__time {
        width: 100%;
        padding: 0px;
    }

    .book-time__time {
        margin-top: 12px;
        padding-top: 12px;
        border-top: solid 1px var(--grey);
    }

    .book-time__btn {
        width: calc(100% - 24px);
        position: fixed;
        bottom: 0;
        margin-bottom: 24px;
    }

    .booking-cnt__bot {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: var(--white);
        padding: 8px 12px 12px 12px;
        box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px 8px 0px 0px;
    }
}