.ser-pro-item {
    cursor: pointer;
    width: 100%;
    background-color: var(--bgWhite);
    border-radius: 8px;
    transition: all 0.4s;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    height: 100%;
    flex: 1;
}
.ser-pro-item:hover {
    box-shadow: 0 6px 15px #dcd8ee;
    border: 1px solid #ccc;
}
.ser-pro-item .ser-img {
    width: 100%;
    height: 182px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.ser-pro-item__cnt {
    gap: 4px 0;
    padding: 8px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 0;
}
.ser-pro-item .ser-img-cnt {
    position: relative;
}
.ser-pro-item .ser-promo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* padding: 0px 4px 4px 4px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ser-pro-item .ser-promo__percent {
    width: 90px;
    padding: 4px 0px;
    background-color: var(--red-cl);
    font-size: 14px;
    font-weight: 700;
    color: var(--bgWhite);
    text-align: center;
    border-radius: 4px;
    margin: -8px 0px 0px -6px;
    clip-path: polygon(100% 0, 100% 61%, 90% 100%, 0 100%, 0 0);
}
.ser-pro-item .ser-promo__percent::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ff9e90;
    margin: 12px 0 0 4px;
}
.ser-pro-item .ser-promo__bot-start,
.ser-pro-item .ser-promo__bot-bought {
    background-color: var(--bgWhite);
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 700;
    margin-right: 6px;
    border-radius: 6px;
}
.ser-pro-item .ser-promo__bot-bought {
    padding: 4.5px 8px;
}
.ser-pro-item .ser-promo__bot-bought span {
    color: var(--red-cl);
    margin-left: 4;
}
.ser-pro-item .ser-name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: var(--text-black);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.ser-pro-item .ser-price {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.ser-pro-item .ser-price span:nth-child(1) {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: var(--red-cl);
}
.ser-pro-item .ser-price span:nth-child(2) {
    font-size: 12px;
    line-height: 14px;
    color: var(--text-hover);
    font-weight: 700;
    text-decoration: line-through;
}
.ser-pro-item .ser-distance {
    margin: 4px 0px;
}
.ser-pro-item .ser-distance div {
    width: 6px;
    height: 6px;
    background-color: var(--purple);
    margin: 4px 8px 0 4px;
    border-radius: 100%;
}
.ser-pro-item .ser-distance span {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}
.ser-pro-item .ser-org-address {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.ser-pro-item .ser-org-address p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: var(--text-black);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.ser-pro-item .ser-org-address img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: -1px 8px 0px 0px;
}
/* Mobile */
@media only screen and (max-width: 767px) {
    .ser-pro-item:hover{
        box-shadow: none;
        border: none;
    }
    .ser-pro-item .ser-img {
        height: auto;
    }
    .ser-pro-item .ser-name {
        text-transform: capitalize;
        font-size: 14px;
        line-height: 16px;
        color: #3b3a40;
        color: var(--black);
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    .ser-pro-item .ser-promo__bot-start,
    .ser-pro-item .ser-promo__bot-bought {
        padding: 4px;
    }
    .ser-pro-item .ser-promo__bot-start img {
        width: 14px;
        height: 14px;
    }
    .ser-pro-item .ser-promo__percent{
        font-size: 10px;
        line-height: 12px;
        width: 68px;
    }
    .ser-pro-item .ser-promo__percent::after{
        margin: 9px 0px 0px 3px;
    }
    /* change style */
    .ser-pro-item__change{
       flex-direction: row;
        justify-content: space-between;
        border: none;
        background-color: #FFF;
    }
    .ser-img-cnt__change{
        width: 100px;
        height: 100px;
    }
    .ser-price__change{
        flex-direction: row !important;
        align-items: center !important;
    }
    .ser-img__change{
        border-radius: 8px !important;
    }
}
