.buy-now-cnt {
    margin-top: 48px;
    margin-bottom: 32px;
    background-color: var(--white);
    padding: 24px;
}

.buy-now-cnt .detail-right__infoMer {
    width: 100% !important;
}

.buy-now__user-left {
    width: calc(50% - 12px);
    background-color: var(--white);
    padding: 16px;
    box-shadow: inset 1px 1px 0 0 #f2f2f2, inset -1px -1px 0 0 #f2f2f2;
    border-radius: 6px;
    height: 177px;
}

.buy-now__user-right {
    width: calc(50% - 12px);
}

.buy-now__list {
    background-color: var(--white);
    padding: 16px;
    box-shadow: inset 1px 1px 0 0 #f2f2f2, inset -1px -1px 0 0 #f2f2f2;
    border-radius: 6px;
    margin-top: 24px;
}

.buy-now__list .title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.buy-now__list .list {
    padding: 24px 12px;
}

.buy-now-item {
    display: flex;
    justify-content: space-between;
}

.buy-now-item .product-item__img {
    width: 124px;
    height: 124px;
    object-fit: cover;
}

.buy-now-item .product-item__detail-name {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.buy-now-item .product-item__detail {
    width: calc(100% - 124px);
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
}

.buy-now-item .product-item__detail-total {
    display: flex;
    justify-content: space-between;
}

.buy-now-item .product-item__detail-total .quantity {
    margin-right: 18px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--text-hover);
}

.buy-now-item .product-item__detail-total .price span:nth-child(1) {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.buy-now-item .product-item__detail-total .price span:nth-child(2) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-left: 6px;
    color: var(--text-hover);
    text-decoration: line-through;
}

.buy-now__total-cnt {
    display: flex;
    justify-content: flex-end;
}

.buy-now__total {
    width: 50%;
    padding-top: 12px;
}

.buy-now__total-pay {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    border-top: solid 1px var(--grey_2);
    margin-top: 12px;
}

.buy-now__total-pay .amount-total {
    width: calc(100% - 132px);
}

.buy-now__total-bill span:nth-child(1) {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--text-hover);
}

.buy-now__total-bill span:nth-child(2) {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: var(--black);
}

.buy-now__total-cnt .amount-total {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--black);
}

@media only screen and (max-width: 1023px) {
    .buy-now-cnt {
        padding: 0px;
        background-color: var(--grey_2);
    }

    .buy-now__user-left {
        width: 100%;
        padding: 12px;
        box-shadow: none;
        height: fit-content;
    }

    .buy-now__user-right {
        display: none;
    }

    .user-pm-de-cnt__tb-left {
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
    }

    .buy-now__list {
        margin-top: 8px;
        padding: 12px;
    }

    .buy-now__list .list {
        padding: 12px 0px;
    }

    .buy-now-item {
        padding: 12px;
        border-radius: 6px;
        border: solid 1px var(--grey_2);
    }

    .buy-now-item .product-item__img {
        width: 84px;
        height: 84px;
        border-radius: 8px;
    }

    .buy-now-item .product-item__detail {
        width: calc(100% - 84px);
        padding-left: 8px;
        display: flex;
        flex-direction: column;
    }

    .buy-now-item .product-item__detail-name {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }

    .buy-now-item .product-item__detail-total {
        flex-direction: row-reverse;
    }

    .buy-now-item .product-item__detail-total .price span:nth-child(1) {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
    }

    .buy-now-item .product-item__detail-total .price span:nth-child(2) {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
    }

    .buy-now-item .product-item__detail-total .quantity {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
    }

    .buy-now__total-cnt {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: var(--grey_2);
        border: 1px solid #FAFAFA;
        border-radius: 8px 8px 0px 0px;
    }

    .buy-now__total {
        width: 100%;
    }

    .buy-now__total-bill {
        padding: 0px 12px;
    }

    .buy-now__total-bill span {
        font-weight: 600 !important;
        font-size: 14px !important;
        line-height: 16px !important;
    }

    .buy-now__total-pay {
        padding: 12px;
    }

    .buy-now__total-cnt .amount-total {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        width: 50%;
    }
}