.homepage-banner .banner-wraper {
    display: flex;
    height: 380px;
    margin: 32px 0;
    grid-gap: 0 16px;
}
.homepage-banner .banner-slide {
    width: 66.66%;
}
.homepage-banner .banner-slide__img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* border-radius: 8px; */
}
.homepage-banner .banner-slide__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 8px; */
}
.homepage-banner .banner-right {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    grid-gap: 16px 0;
}
.homepage-banner .banner-right__top {
    height: 50%;
    background-color: #cfeaff;
    cursor: pointer;
}
.homepage-banner .banner-right__bottom {
    height: 50%;
    display: flex;
    height: 50%;
    grid-gap: 0 16px;
}
.homepage-banner .banner-right__bottom img {
    cursor: pointer;
}
.homepage-banner .banner-bottom__item {
    width: 50%;
    background-color: #fff4e1;
}
.homepage-banner .banner-bottom__item:last-child {
    width: 50%;
    background-color: #e3e0f1;
}

/* cus btn slider */
.homepage-btn__prev,
.homepage-btn__next {
    position: absolute;
    opacity: 0;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-out;
    padding: 3px;
}
.homepage-btn__prev {
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    left: 0;
}
.homepage-btn__next {
    right: 0;
}
.homepage-btn__prev img,
.homepage-btn__next img {
    width: 32px;
    height: 32px;
}
.banner-slide:hover .homepage-btn__prev {
    opacity: 0.7;
    visibility: visible;
    left: 14px;
    transition: all 0.3s ease-in;
}
.banner-slide:hover .homepage-btn__next {
    opacity: 0.7;
    right: 14px;
    visibility: visible;
    transition: all 0.3s ease-in;
}

/* reponsive tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .homepage-btn__prev,
    .homepage-btn__next {
        opacity: 0.7;
        background-color: #fff;
        visibility: visible;
    }
    .homepage-banner .banner-wraper {
        flex-direction: column;
        height: unset;
        grid-gap: 16px 0;
        margin: 16px 0;
    }
    .homepage-banner .banner-slide {
        width: 100%;
    }
    .homepage-banner .banner-right {
        width: 100%;
        flex-direction: row;
        grid-gap: 0 16px;
        padding: 0 16px;
    }
    .home-discounts {
        padding: 16px;
        margin: unset;
        margin-bottom: 16px;
    }
    .homepage-banner .banner-slide__img {
        max-height: 380px;
    }
    .home-discounts__list {
        grid-template-columns: repeat(4, 1fr);
    }
    .banner-slide .homepage-btn__next {
        right: 14px;
    }
    .banner-slide .homepage-btn__prev {
        left: 14px;
    }
}
/* reponsive mobile */
@media only screen and (max-width: 767px) {
    .homepage-btn__prev,
    .homepage-btn__next {
        opacity: 0.7;
        background-color: #fff;
        visibility: visible;
    }
    .homepage-banner .banner-wraper {
        flex-direction: column;
        height: unset;
        grid-gap: 12px 0;
        margin: 0;
    }
    .homepage-banner .banner-slide {
        width: 100%;
    }
    .homepage-banner .banner-right {
        /* width: 100%;
        flex-direction: column;
        grid-gap: 12px;
        padding: 0 12px; */
        display: none;
    }
    .homepage-banner .banner-right__bottom {
        grid-gap: 0 12px;
    }
    .banner-slide .homepage-btn__next {
        right: 14px;
    }
    .banner-slide .homepage-btn__prev {
        left: 14px;
    }
    .homepage-btn__prev img,
    .homepage-btn__next img {
        width: 24px;
        height: 24px;
    }
}

/* cus dot slider */
.slick-dots ul {
    align-items: center;
    display: flex;
    justify-content: center;
}
.slick-dots ul li {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #fff;
    opacity: 0.7;
}
.slick-dots ul .slick-active {
    background-color: var(--purple);
    width: 10px;
    height: 10px;
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    display: none;
}
.slick-dots li button:before {
    display: none;
}

.slick-dots {
    bottom: 20px;
}
