.home-se-cnt{
    margin: 28px 0px;
}
.ser-promo__bot {
    position: absolute;
    bottom: 8px;
    left: 8px;
}
.org-img-cnt__rate-item {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.home-se-sec-title {
    background-color: var(--red-cl);
    width: fit-content;
    padding: 9px 18px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: var(--bgWhite);
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 12px;
    position: relative;
}
.home-se-sec-title::after {
    position: absolute;
    content: "";
    background-color: var(--red-cl);
    z-index: 1;
    width: 30px;
    height: 35px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 51% 100%);
    clip-path: polygon(0 0, 0% 100%, 51% 100%);
    top: 0;
    margin: 7px 0px 0px 17px;
}
/* home tags */

.home-tags-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.home-tags-list li {
    width: calc(100% / 6);
    padding: 8px 16px;
}
.home-tags .tag-item-cnt {
    background-color: var(--bgWhite);
    cursor: pointer;
    padding: 4px 0px;
    transition: all 0.3s;
    border-radius: 12px;
    box-shadow: 0px 6px 15px #dcd8ee;
}
.home-tags .tag-item-cnt:hover {
    box-shadow: 0px 10px 31px rgba(76, 62, 142, 0.3);
}
.home-tags .tag-item-cnt img {
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
}
.home-tags .tag-item-cnt span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--text-black);
}
/* home promo */
.home-se-promo{
    margin: 28px 0px;
}
.home-promo-ser .ser-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    margin: 24px 0;
}
.home-promo-ser .ser-list li {
    background-color: var(--bgWhite);
}
.home-se-promo__header button {
    background-color: var(--bgWhite);
    outline: none;
    padding: 4px;
    border-radius: 100%;
}
/* home deal */
.home-deal-cnt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 16px;
}
.deal-first {
    width: 50%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px;

}
.deal-first img,
.home-deal-cnt .deal-second__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.deal-second {
    display: flex;
    justify-content: space-between;
    width: 50%;
    cursor: pointer;
    gap: 0 16px;
}
.home-deal-cnt .deal-second__item {
    width: 50%;
}
/* home card */
.home-card-cnt {
    margin: 48px 0px;
    width: 100%;
    display: flex;
    gap: 0 16px;
}
.home-card-cnt__left {
    width: calc(25% - 16px);
    height: 100%;
}
.home-card-cnt__left .card-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px 0;
}
.home-card-cnt__left .card-list li {
    width: 100%;
    background-color: var(--bgWhite);
    padding: 16px;
    cursor: pointer;
    border-radius: 12px;
    border: solid 1px var(--bgGray);
    transition: all 0.3s;
}
.home-card-cnt__left .card-list li:hover {
    background-color: rgba(227, 227, 227, 0.796);
}
.home-card-cnt__left .card-item-cnt img {
    margin-right: 12px;
    width: 20px;
}
.home-card-cnt__left .card-item-cnt span {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: var(--text-black);
}
.home-card-cnt__left .card-list li button {
    border: solid 1px var(--text-hover);
    outline: none;
    border-radius: 100%;
    background-color: var(--bgWhite);
}
.home-card-cnt__right {
    width: calc(75% + 16px);
    border: solid 1px var(--bgGray);
    border-radius: 12px;
}
.home-card-list-org .org-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    padding: 16px;
}

/* home province */
.home-province {
    margin: 42px 0px;
    padding: 32px 0px;
}
.home-province_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 248px 84px 248px;
    gap: 16px;
}
.home-province .home-province_item {
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}
.home-province .home-province_item:hover {
    box-shadow: 0px 10px 31px rgba(76, 62, 142, 0.3);
}
.home-province .home-province_item:hover img{
    transform: scale(1.1);
}
.home-province .province-item-cnt {
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 4px 10px;
    background-color: var(--bgWhite);
    border-radius: 8px;
}
.home-province .province-item-cnt span:nth-child(1) {
    font-size: 14px;
    line-height: 18px;
    color: var(--red-cl);
    font-weight: bold;
}
.home-province .province-item-cnt span:nth-child(2) {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-black);
    font-weight: 700;
}
.home-province .home-province_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .36s ease-in-out;
}
.home-province .home-province_item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
}
.home-province .home-province_item:nth-child(2),
.home-province .home-province_item:nth-child(3) {
    grid-row: 1/3;
}
.home-province .home-province_item:nth-child(4),
.home-province .home-province_item:nth-child(5) {
    grid-row: 2/4;
}
.home-province .home-province_item:nth-child(6) {
    grid-column: 3/5;
}
/* home services recommend */
.home-se-re {
    margin: 42px 0px;
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-promo-ser .ser-list {
        grid-template-columns: repeat(4, 1fr);
    }
    .home-result-ser-cnt {
        padding: 0 24px !important;
    }
    .filter-ser-list li {
        flex-shrink: 0;
    }
    .home-result__cus {
        padding: 0 24px;
    }
    .product .product-cnt {
        flex-direction: row;
        padding: 24px;
        gap: 0 24px;
    }
}
/* Mobile */
@media only screen and (max-width: 767px) {
    .home-promo-ser .ser-list {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        margin: 0;
        width: unset;
    }
    .home-cate-tree-cnt{
        display: none;
    }

    .home-title__tag {
        display: none;
    }
    .home-ca-cnt {
        display: none;
    }
    .home-province {
        margin: 0;
        padding: 16px 0;
    }
    .home-card-cnt {
        margin: unset;
    }
    .home-card-cnt__left .card-list li {
        margin-bottom: unset;
        box-shadow: rgb(0 0 0 / 24%) 0px 15px 20px -16px;
    }
    .home-se-cnt {
        margin-top: 0;
        margin-bottom: 84px;
    }
    .home-se-sec-title {
        margin-left: 16px;
        margin-bottom: 0px;
        padding: 6px 18px;
        border-radius: 8px 10px 0px 0px;
        font-size: 14px;
        line-height: 18px;
    }
    .home-se-sec-title::after {
        height: 25px;
        margin: 5px 0px 0px 17px;
    }
    .home-tags {
        width: 100%;
        overflow-x: scroll;
    }
    .home-tags-list {
        width: max-content;
        padding: 16px 0 0;
    }
    .home-tags-list li {
        padding: 6px;
    }
    .home-tags .tag-item-cnt {
        box-shadow: none;
        background-color: var(--bg-color);
    }
    .home-tags .tag-item-cnt span {
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        text-align: center;
    }
    .home-se-promo {
        margin: 0px;
        padding-top: 16px;
    }
    .home-se-promo__header {
        padding-right: 16px;
    }

    .home-se-promo__header button img {
        width: 16px;
        height: 16px;
    }
    .home-se-re {
        margin: 16px 0;
    }
    .home-promo-ser .ser-list li {
        /* width: 164px; */
        flex-shrink: 0;
    }
    .home-deal-cnt {
        flex-direction: column;
        padding: 16px;
        gap: 16px 0;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .deal-first {
        width: 100%;
    }
    .deal-second {
        width: 100%;
        gap: 0 16px;
        display: flex;
    }
    .home-card-cnt {
        flex-direction: column;
    }
    .home-card-cnt__left {
        width: 100%;
        padding: 16px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .home-card-cnt__right {
        width: 100%;
        padding: unset;
    }
    .home-card-list-org {
        width: 100%;
        overflow-x: scroll;
    }
    .home-card-list-org .org-list {
        flex-wrap: nowrap;
        width: max-content;
        gap: 0 16px;
        display: flex;
        padding: 16px;
    }
    .home-card-list-org .org-list li {
        width: 164px;
        padding: unset;
    }
    .re-org-item .re-org-item__img {
        /* height: 164px; */
        flex-shrink: 0;
    }
    .home-province_list {
        padding: 0 16px;
        margin-top: 16px;
        gap: 12px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: 100%;
    }
    .home-province .home-province_item {
        border-radius: 8px;
    }
    .home-province .home-province_item:nth-child(1) {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
    }
    .home-province .home-province_item:nth-child(2) {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;
    }
    .home-province .home-province_item:nth-child(3) {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
    }
    .home-province .home-province_item:nth-child(4) {
        grid-row-start: 3;
        grid-column-start: 2;
        grid-row-end: 5;
        grid-column-end: 3;
    }
    .home-province .home-province_item:nth-child(5) {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
    }
    .home-province .home-province_item:nth-child(6) {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 2;
    }
    .home-province .province-item-cnt {
        width: 100%;
        margin: 0px;
        padding: 4px;
        background-color: transparent;
    }
    .home-province .province-item-cnt span:nth-child(1) {
        color: var(--bgWhite);
        font-weight: 700;
    }
    .home-province .province-item-cnt span:nth-child(2) {
        font-size: 14px;
        color: var(--bgWhite);
    }
    .card-list {
        gap: 16px 0;
        display: flex;
        flex-direction: column;
    }
    .ser-promo__bot {
        position: absolute;
        bottom: 8px;
        left: 8px;
    }
}
