/* home result tag */
.home-result-org-cnt {
    padding: 24px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home-result-org-cnt__left {
    width: 16.6%;
    padding-right: 8px;
    border-right: 1px solid #eeedf2;
}
.home-result-org-cnt__right {
    padding-left: 8px;
    width: 83.3%;
}
/* home result promo */
.home-result-ser-cnt {
    padding: 24px 0 0 0px;
}
/* home banner deal */
.deal-banner {
    padding: 48px 0px;
}
.deal-banner__img {
    width: 100%;
}
.deal-banner__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.deal-banner__list li {
    width: 16.66%;
    background-color: var(--bgWhite);
    padding: 12px 8px;
}
.deal-banner__bot {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
.home-result-org-cnt__mb {
    display: none;
}
/* end home banner deal */

/* home tag */
.cnt-right__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 16px 0;
}

/* end home tags */

/* Mobile */
@media only screen and (max-width: 1023px) {
    .cnt-right__top {
        position: fixed;
        z-index: 4;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .cnt-right__top .open-map {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        padding: 8px 16px;
    }
    .home-promo-ser__mb {
        width: 100%;
        margin-top: 48px;
    }
    .filter-btn {
        border: none;
        outline: none;
        background-color: transparent;
    }
    /* .ser-list__mb {
        width: 100% !important;
        flex-wrap: wrap !important;
    } */
    /* .ser-list-item__mb {
        width: 50% !important;
    } */
    .home-result__cus {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 16px !important;
        padding: 0px 12px !important;
    }
    .ser-item__cus {
        width: 100% !important;
    }
    .home-result-org-cnt {
        flex-direction: column;
        padding: 12px 0px;
        margin-top: 48px;
    }
    .home-result-org-cnt__left {
        display: none;
    }
    .home-result-org-cnt__right {
        width: 100%;
        padding: 0px 12px;
    }
    .deal-banner {
        padding: 0px 0px 32px 0px;
    }
    .deal-banner__list li {
        width: 50%;
        background-color: var(--bgWhite);
        padding: 12px 8px;
    }
    .home-result-org-cnt__mb {
        display: block;
        background-color: var(--bgWhite);
    }
    .home-result-org-cnt__mb {
        display: block;
        background-color: var(--bgWhite);
    }
    .home-result-org-cnt__mb .cnt {
        padding: 0px 12px;
    }
    .home-result-org-cnt__mb .cnt span {
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
    }
    .home-result-org-cnt__mb .cnt button {
        border: none;
        outline: none;
        background-color: transparent;
    }
}
