.re-cart-cnt {
    margin: 48px 0px;
    background-color: var(--white);
    padding: 12px;
}

.re-cart-cnt__head {
    padding: 12px;
    border: solid 1px var(--grey);
    border-radius: 8px;
}

.re-cart-item-group__head {
    background-color: var(--grey_2);
    padding: 0px 12px;
    border-radius: 8px;
}

.re-cart-item-group__head .btn-loading {
    margin-left: 8px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 6px;
}

.re-cart-item-group__head .left img {
    margin-right: 4px;
    height: 24px;
    width: 24px;
}

.re-cart-item-group__head .left span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--purple);
}

.re-cart-item-group__head .right {
    display: none;
}

.re-cart-cnt__body {
    margin-top: 24px;
    border-radius: 8px;
}

.re-cart-item-group__body {
    padding: 0px 12px;
}

.re-cart-item-cnt {
    position: relative;
}

.re-cart-item__discount {
    position: absolute;
    background-color: var(--orange);
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    color: var(--white);
    padding: 2px 4px;
    border-radius: 4px;
    margin: 2px 0px 0px 4px;
    transition: all 0.3s;
}

.re-cart-item-cnt .cart-item__name-img {
    width: 100px;
    height: 100px;
}

.re-cart-swipe-btn {
    width: 52px;
    height: 100%;
    padding: 0px 12px;
    display: flex;
}

.re-cart-swipe-btn button {
    border: none;
    outline: none;
    margin: auto 0px;
    background-color: var(--red-cl);
    padding: 4px;
    border-radius: 6px;
}

.re-cart-swipe-btn button img {
    width: 20px;
    height: 20px;
}

.re-cart-bottom {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
    background-color: var(--bgWhite);
    box-shadow: 0px 4px 20px rgb(113 97 186 / 20%);
}

.re-cart-bottom__cnt {
    padding: 12px 0px;
    display: flex;
    justify-content: flex-end;
}

.re-cart-bottom__total {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.re-cart-bottom__total-discount {
    justify-content: flex-end;
}

.re-cart-bottom__total-discount span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--orange);
}

.re-cart-bottom__total-discount .icon {
    width: 20px;
    height: 20px;
    margin-left: 4px;
}

.re-cart-bottom__cal-item {
    margin: 4px 0px;
}

.re-cart-bottom__cal-item span:nth-child(1) {
    font-size: 16px;
    line-height: 18px;
    color: var(--text-hover);
}

.re-cart-bottom__cal-item span:nth-child(2) {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: var(--black);
}

.re-cart-bottom__pay {
    align-items: center;
    margin-top: 4px;
}

.re-cart-bottom__pay .left,
.re-cart-bottom__pay .right-money {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.re-cart-bottom__pay .right {
    display: flex;
    align-items: center;
}

.re-cart-bottom__pay .right-money {
    margin-right: 12px;
}

.re-cart-bottom__pay button {
    background-color: var(--orange);
    border-radius: 8px;
}

.re-cart-cnt__pmt {
    margin-top: 12px;
    padding: 12px;
    border: solid 1px var(--grey);
    border-radius: 8px;
}

.re-cart-cnt__pmt span {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: var(--black);
}

.re-cart-cnt__pmt span:nth-child(3) {
    cursor: pointer;
    color: var(--orange);
    cursor: pointer;
}

.re-cart-pmt-drawer {
    width: 41.5vw;
    padding: 12px;
}

.re-cart-branches {
    background-color: var(--white);
    padding: 24px 12px;
    width: 50vw;
    height: fit-content;
    max-height: 80vh;
    overflow-y: scroll;
}

.re-cart__branch-item .branch-img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.re-cart__branch-item {
    margin: 6px 0px;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px var(--grey);
    cursor: pointer;
    position: relative;
}

.re-cart__branch-item-ck {
    position: absolute;
    z-index: 1;
    background-color: var(--orange);
    top: 0;
    left: 0;
    margin: -8px 0px 0px -4px;
    padding: 2px 6px;
    font-size: 12px;
    color: var(--white);
    font-weight: 500;
    border-radius: 6px;
}

.re-cart-item-group__add {
    width: 100%;
    background-color: var(--grey_2);
    padding: 9px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: var(--purple);
}

.re-cart__branch-item .detail {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.re-cart__branch-item .detail .branch-name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: var(--black);
}

.re-cart__branch-item .detail .branch-address {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    margin: 3px 0px;
}

.re-cart__branch-item .detail .branch-phone {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: var(--text-hover);
}

/* cart group item voucher */
.cart-item-pop-voucher {
    width: 40vw;
    height: fit-content;
    max-width: 90vh;
    overflow-y: scroll;
    background-color: var(--white);
    padding: 24px;
    max-height: calc(100vh - 64px);
}
.cart-vouchers-list .list .item {
    width: 100%;
    min-height: 150px;
    height: fit-content;
    margin: 12px 0px;
    padding: 0 14px;
}
.cart-vouchers-list .list {
    overflow: scroll;
    height: 100%;
    margin-top: 14px;
}
.cart-item-voucher {
    padding: 8px 4px;
    border-bottom: solid 1px var(--bgGray);
    cursor: pointer;
}
.cart-item-voucher .title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: var(--red-cl);
}
.cart-item-voucher img {
    width: 14px;
    margin: 1px 0px 0px 6px;
}
.cart-item-pop-voucher .title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
.cart-vouchers-list {
    margin-top: 14px;
}
.cart-vouchers-list__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}
.cart-vouchers-list__item {
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
}
.cart-vouchers-list__item-left {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: dashed 1px var(--bgGray);
    position: relative;
}
.cart-vouchers-list__item-left::after {
    position: absolute;
    content: "";
    top: -20px;
    right: -12px;
    border-radius: 100px;
    overflow: hidden;
    width: 24px;
    height: 24px;
    z-index: 2;
}

.cart-vouchers-list__item-left .item-left__img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    flex-shrink: 0;
    background-color: #fff;
}
.cart-vouchers-list__item-left .item-left__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cart-vouchers-list__item-left .item-left__name {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 6px;
    word-break: break-word;
}
.cart-vouchers-list__item-right {
    height: 100%;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-vouchers-list__item-right .item-right__top {
    display: flex;
    flex-direction: column;
    grid-gap: 4px 0;
}
.cart-vouchers-list__item-right .item-right__top .item-right__name {
    font-size: 18px;
    font-weight: bold;
}
.cart-vouchers-list__item-right .item-right__top .item-right__desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.cart-vouchers-list__item-right .item-right__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-vouchers-list__item-right .item-right__bottom .item-right__expired {
    font-size: 12px;
    font-weight: 500;
}
.cart-vouchers-list__item-right .item-right__bottom .item-right__btn {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--red-cl);
    cursor: pointer;
    user-select: none;
}
.cart-vouchers-list__item-right .item-right__bottom .item-right__btn span {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

@media only screen and (max-width: 1023px) {
    .re-cart-cnt {
        background-color: var(--grey_2);
        min-height: 100vh;
        padding: 0px;
    }
    .cart-item-pop-voucher {
        width: 100%;
        max-width: unset;
        overflow-y: unset;
        padding: 20px;
        height: 100%;
    }

    .cart-vouchers-list__item-right {
        grid-gap: 8px 0;
    }
    .cart-vouchers-list .list .item {
        height: 130px;
    }
    .cart-vouchers-list__item-right .item-right__top .item-right__name {
        font-size: 14px;
    }
    .cart-vouchers-list__item-right .item-right__top .item-right__desc {
        -webkit-line-clamp: 2;
        font-size: 12px;
        line-height: 18px;
    }
    .cart-vouchers-list__item-right .item-right__bottom .item-right__btn {
        padding: 4px 16px;
    }
    .cart-vouchers-list__item-right .item-right__bottom .item-right__btn span {
        font-size: 12px;
        line-height: unset;
        font-weight: 500;
    }
    .cart-vouchers-list__item-right .item-right__bottom .item-right__expired {
        font-size: 12px;
    }
    .re-cart-cnt__head {
        border: none;
        border-radius: 0px;
        background-color: var(--white);
    }

    .re-cart-cnt__body {
        border: none;
        padding: 0px;
        margin-top: 12px;
    }

    .re-cart-item-group__head .right {
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: var(--purple);
    }

    .re-cart-item-cnt {
        margin: 4px 0px;
    }

    .re-cart-item-cnt .cart-item__name-img {
        width: 78px;
        height: 78px;
        filter: none;
        margin-right: 8px;
    }

    .re-cart-item-group__head {
        background-color: var(--white);
    }

    .re-cart-cnt__body__item {
        background-color: var(--white);
        margin-bottom: 12px;
    }

    .re-cart-item-cnt .cart-item__name {
        width: 100%;
        align-items: flex-start;
    }

    .re-cart-item-cnt .cart-item {
        display: flex;
        flex-direction: column;
        padding: 12px;
        border: solid 1px var(--grey);
        border-radius: 8px;
        transition: all 0.4s;
    }

    .re-cart-item-cnt .cart-item__name-text {
        width: calc(100% - 114px);
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }

    .re-cart-item-cnt .cart-item__info {
        width: 100%;
        right: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-left: 114px;
        margin-top: -36px;
    }

    .re-cart-item-cnt .cart-item__total {
        display: flex;
        flex-direction: row-reverse;
    }

    .re-cart-item-cnt .cart-item__total span:nth-child(2) {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: var(--orange);
    }

    .re-cart-item-cnt .cart-item__total span:nth-child(1) {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        margin-left: 4px;
        text-decoration: line-through;
        color: var(--text-hover);
    }

    .re-cart-item-cnt .cart-item__quantity button {
        width: 28px;
        height: 28px;
        border-radius: 8px;
    }

    .re-cart-item-group__head .left img {
        width: 18px;
        height: 18px;
    }

    .re-cart-item-group__head .left span {
        font-size: 14px;
        line-height: 20px;
    }

    .re-cart-item__slide {
        display: none !important;
    }

    .re-cart-cnt__pmt {
        border: none;
        border-radius: 0px;
        background-color: var(--white);
    }

    .re-cart-cnt__pmt span {
        font-size: 14px;
        line-height: 16px;
    }

    .re-cart-pmt-drawer {
        width: 100%;
        border-radius: 8px 8px 0px 0px;
    }

    .re-cart-bottom__cnt {
        padding: 8px 12px;
        border-radius: 8px 8px 0px 0px;
    }

    .re-cart-bottom__total {
        width: 100%;
    }

    .re-cart-bottom__total-discount span {
        font-size: 12px;
        line-height: 16px;
    }

    .re-cart-bottom__total-discount .icon {
        width: 16px;
        height: 16px;
    }

    .re-cart-bottom__cal-item span:nth-child(1),
    .re-cart-bottom__cal-item span:nth-child(2) {
        font-size: 14px;
        line-height: 16px;
    }

    .re-cart-bottom__pay .left,
    .re-cart-bottom__pay .right-money {
        font-size: 14px;
        line-height: 20px;
    }

    .re-cart-bottom__pay button {
        padding: 8px 18px;
    }

    .re-cart-head-right span {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #e64d4a;
    }

    .re-cart-item__discount {
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
        margin: 0px 0px 0px 0px;
    }

    .re-cart-item-group__add {
        background-color: var(--white);
        padding: 0px 10px;
    }

    .re-cart-item-group__add-dot {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        margin-right: 6px;
        background-color: var(--purple);
    }

    .re-cart-branches {
        width: 94vw;
        border-radius: 12px;
    }
}
