.map-cnt {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.map__list-item {
    width: 100%;
    height: 132px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    overflow-x: scroll;
}

.map__list-item .list {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 100%;
    padding: 0px 8px;
}

.map__list-item .list li {
    height: 100%;
    padding: 8px 12px;
    width: 332px;
    margin-right: 8px;
}

.map__org-item {
    width: 100%;
    height: 100%;
    background-color: var(--bgWhite);
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 14%) -2px 1px 16px 0px;
    border-radius: 8px;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
}
.map__org-item:hover {
    margin-top: -8px;
}
.map__org-item-avt {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.map__list-item .content {
    width: calc(100% - 120px);
    padding: 8px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.map__list-item .content .org-name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: var(--text-black);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.map__org-item .org_address {
    display: flex;
    flex-direction: row;
}
.map__org-item .org_address img {
    width: 12px;
    height: 12px;
    margin-top: 3px;
}
.map__org-item .org_address span {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: var(--text-black);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.map__org-item .org_bot button {
    width: 49.5%;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: var(--bgWhite);
    background-color: var(--purple);
    border-radius: 8px;
    border: solid 1px var(--purple);
    outline: none;
    padding: 4px 0px;
}
.map__org-item .org_bot button:nth-child(2) {
    background-color: var(--bgWhite);
    color: var(--purple);
}
