.home-recomment {
    margin-top: 24px;
    padding: 10px;
    background: #fff;
}
.home-recomment__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
    margin: 24px 0 48px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-recomment {
        margin: 0;
        padding: 16px;
    }
    .home-recomment__list {
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 0;
    }
}
@media screen and (max-width: 767px) {
    .home-recomment {
        margin: 12px 0;
        padding: 0 0 100px 0;
    }
    .home-recomment__list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px;
        margin: 24px 12px;
    }
}
