.pm-st-cnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0px;
    
    height: calc(100vh - 96px);
}
.pm-st-cnt__qr{
    width: 66.66%;
    height: 100%;
    overflow: scroll;
}
.pm-st-cnt__qr-cnt{
    width: 100%;
    height: 100vh;
    border: none;
}
.pm-st-cnt__body{
    width: 32%;
    padding: 20px 18px;
    background-color: var(--bgWhite);
    box-shadow: 0px 6px 15px #DCD8EE;
    border-radius: 12px;
}
.pm-st-cnt__body .title{
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: var(--text-black);
}
.pm-st-cnt__body .body-item{
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
    border-bottom: solid 1px var(--grey);
}
.pm-st-cnt__body .body-item .body-item__title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
.pm-st-cnt__body .body-item .body-item__text{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}
.pm-st-cnt__body-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0px;
}
.st-title{
    font-size: 16px;
    font-weight: 600;
}
.pm-pending-cnt .st-process{
    margin: 4px 0px;
}
.pm-pending-cnt .st-time-out{
    border: solid 1px var(--pink-momo);
    padding: 4px 12px;
    border-radius: 8px;
}
.pm-pending-cnt .st-time-out span{
    font-size: 14px;
    font-weight: 600;
    color: var(--pink-momo);
}
.st-time__success{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.st-time__success-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--green);
}
.st-time__success .control{
    height: fit-content;
}
.st-time__success .control button{
    margin: 0px 12px;
    border: none;
    outline: none;
    background-color: var(--purple);
    padding: 8px 16px;
    color: var(--bgWhite);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 12px;
    height: fit-content;
}
.st-cancel__cnt span{
    margin: 8px 0px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--pink-momo);
}
.st-pm-info__btn,
.pm-pending-cnt button,
.payment-mb-ewall__btn{
    padding: 4px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--purple);
    border-radius: 14px;
    font-size: 16px;
    line-height: 20px;
    color: var(--bgWhite);
    font-weight: 600;
}
.pm-pending-cnt button,
.payment-mb-ewall__btn{
    margin-top: 12px;
    background-color: var(--pink-momo);
}
/* payment qr */
.pm-success-cnt{
    width: 100%;
    height: 100%;
}
.pm-success-cnt{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pm-success-cnt__head{
    width: 66.66%;
    padding: 6px 12px;
    border: solid 1px var(--text-hover);
    border-radius: 6px;
}
.pm-success-cnt__head span:nth-child(1){
    font-size: 16px;
    line-height: 20px;
    color: var(--text-hover);
    font-weight: 500;
}
.pm-success-cnt__head span:nth-child(2){
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--text-black);
}
.pm-success-cnt__body{
    margin: 12px 0px;
    width: 66.66%;
    padding: 12px;
    border: solid 1px var(--text-hover);
    border-radius: 6px;
}
.pm-success-cnt__body-top img{
    width: 64px;
    height: 64px;
}
.pm-success-cnt__body-top .title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin: 8px;
}
.pm-success-cnt__body-top .amount{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}
.pm-success-cnt__body-cnt{
    background-color: var(--grey);
    margin: 6px 0px;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.pm-success-cnt__body-cnt span{
    margin: 0px 2px;
    font-weight: 700;
}
.pm-success-cnt__body-code{
    width: 100%;
    margin: 6px 0px;
}
.pm-success-cnt__body-code span:nth-child(1){
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: var(--text-hover);
}
.pm-success-cnt__body-code span:nth-child(2){
    font-family: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--purple);
}
.pay-st-cnt{
    background-color: var(--bgWhite);
    padding: 36px;
}
.pay-st-cnt__head{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--purple);
}
.pay-st-cnt__text{
    margin: 12px 0px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--text-black);
}
.pay-view-pc{
    display: block;
}
.pay-view-mb{
    display: none;
}
/* Mobile */
@media only screen and (max-width: 767px) {
    .pay-view-pc{
        display: none;
    }
    .pay-view-mb{
        display: block;
        padding: 36px 20px;
    }
    .payment-mb-ewall__btn{
        width: 100%;
        padding: 8px 0px;
        border-radius: 6px;
    }
    .pay-view-mb__title{
        margin: 12px 0px;
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        color: var(--text-black);
    }
    .pay-view-mb__amount{
        width: 100%;
        margin-top: 12px;
        border: solid 1px var(--text-hover);
        padding: 2px 6px;
        border-radius: 6px;
    }
    .pay-view-mb__org{
        margin-top: 36px;
        display: flex;
        justify-content: space-between;
    }
    .pay-view-mb__amount span{
        font-size: 16px;
        line-height: 30px;
        font-weight: 600;
        color: var(--text-hover);
    }
    .pay-view-mb__amount span:nth-child(2){
        font-size: 20px;
        line-height: 26px;
        font-weight: 700;
        color: var(--pink-momo);
    }
    .pay-view-mb__org-avt{
        width: 64px;
        height: 64px;
        object-fit: cover;
    }
    .pay-view-mb__org-de{
        width: calc(100% - 64px);
        padding-left: 8px;
        display: flex;
        flex-direction: column;
    }
    .pay-view-mb__org-de .org-name{
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        color: var(--purple);
    }
    .pay-view-mb__org-de .org-address{
        margin-top: 4px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        color: var(--text-hover);
    }
    .pm-st-cnt{
        display: flex;
        flex-direction: column;
        padding: 0px;
        height: 100vh;
    }
    .pm-st-cnt__body{
        height: 41.5%;
        width: 100%;
        padding: 8px 12px;
        box-shadow: none;
        background-color: #FFFFFF;
    }
    .pm-st-cnt__qr{
        width: 100%;
        height: 58.1%;
    }
    .pm-st-cnt__body .title{
        display: none;
    }
    .pm-st-cnt__body .body-item .body-item__title {
        font-size: 14px;
        line-height: 16px;
    }
    .st-pm-info__btn, .pm-pending-cnt button{
        padding: 12px 0px;
        width: 100%;
        border-radius: 6px;
    }
    .pm-pending-cnt .st-process{
        display: none;
    }
    .pm-success-cnt{
        background-color: #FFFFFF;
    }
    .pm-success-cnt__head,
    .pm-success-cnt__body{
        width: 100%;
    }
    .pay-st-cnt{
        padding: 36px 20px;
    }
    .pay-view-mb__img{
        width: 170px;
    }
}