.discount-list-cnt {
    padding: 32px;
    width: 100%;
}

.discounts__list {
    display: flex;
    flex-wrap: wrap;
}

.discounts__list .item-cnt {
    padding: 8px;
    width: 16.666%;
    cursor: pointer;
}

.discount-list-cnt__bot {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .discount-list-cnt {
        padding: 20px 12px;
        margin-top: 48px;
    }

    .discounts__list .item-cnt {
        width: 50%;
        padding: 8px 4px;
    }
}