.video__list{
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow: scroll; */
    /* -ms-scroll-snap-type: y mandatory; */
    /* scroll-snap-type: y mandatory; */
}
.reel .slick-slide{
    border: none;
    border-radius: 0;
}
.reel .css-1160xiw-MuiPaper-root-MuiDrawer-paper{
    border-radius: 0;
}
.trend-item-ctn{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.reel-head{
    position: fixed;
    left: 6px;
    top: 6px;
    z-index: 1;
}
.reel-header__back-btn{
    background-color: var(--purple);
    border: none;
    border-radius: 100%;
}
.video-control__info{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 15px;
    z-index: 1;
}
.video-control__info .org__name{
    font-family: 'Nunito';
    font-size: 16px;
    line-height: 28px;
    margin-left: 5px;
    font-weight: 700;
    color: var(--bgWhite);
}
.video-control__info .ser__name{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 5px;
    color: var(--bgWhite);
}
.video-control__info .left{
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.video-control__info .right{
    padding: 10px 0;
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 5px;
    color: var(--bgWhite);
}
.video-control__info .right .right-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}
.video-control__info .right .right-item:last-child{
    margin-bottom: 10px;
}
.video-control__info .right .right-item .right-item__img{
    padding: 5px;
}
.video-control__info .right .right-item svg{
    margin: 5px;
}
.video-control__info-label{
    display: flex;
}
.video-control__info-label .org_avt{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
@media only screen and (min-width: 767px){
    .video-control__info{
        display: none;
    }
    .video__list{
        width: auto;
    }
}
@media only screen and (max-width: 767px){
    .reel-item-body{
        display: none;
    }
}