/* account top */

.accountMobile .accountMobile-top {
    display: flex;
    padding: 12px 12px 20px 12px;
    grid-gap: 0 12px;
    align-items: flex-end;
    background-color: var(--purple);
    /* background-image: url("https://source.unsplash.com/random"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

.accountMobile .accountMobile-top__img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    flex-shrink: 0;
    overflow: hidden;
}

.accountMobile .accountMobile-top__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accountMobile .accountMobile-top__info {
    display: flex;
    flex-direction: column;
    grid-gap: 2px 0;
}

.accountMobile .accountMobile-top__name {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.accountMobile .accountMobile-top__phone>img {
    margin-left: -2px;
}

.accountMobile .accountMobile-top__phone,
.accountMobile .accountMobile-top__email {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    grid-gap: 0 4px;
    padding-bottom: 5px;
}

.accountMobile .accountMobile-top__edit {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    grid-gap: 0 4px;
}

.accountMobile .accountMobile-top__edit p {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}


/* account mid */

.accountMobile-mid {
    border-radius: 8px 8px 0 0;
    background: #fafafa;
    padding: 0 0 8px 0;
    overflow: hidden;
    margin-top: -8px;
}

.accountMobile-mid .accountMobile-mid__list {
    display: flex;
    flex-direction: column;
    grid-gap: 8px 0;
}

.accountMobile-mid .accountMobile-mid__item {
    padding: 16px 12px;
    background-color: #fff;
    z-index: 2;
    height: 100%;
    position: relative;
}

.accountMobile-mid__item .accountMobile-mid__item-noti {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--red-cl);
    position: absolute;
    margin: -2px 0px 0px 12px;
}

.accountMobile-mid .item-left__wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    z-index: 1;
}

.accountMobile-mid .item-left {
    display: flex;
    align-items: center;
    grid-gap: 0 8px;
}

.accountMobile-mid .item-left span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1f1f1f;
}

.accountMobile-mid .item-bot__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 12px;
    /* opacity: 0; */
    /* visibility: hidden; */
    max-height: 0;
    transform: translateY(12px);
    z-index: 1;
    transition: visibility, opacity, max-height 0.3s ease-out;
}

.accountMobile-mid .userGuid-active>.item-bot__item {
    border: 1px solid rgba(204, 204, 204, 0.481);
    transition: 0.3s ease-out;
}

.accountMobile-mid .item-bot__item {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px 8px;
    border: 1px solid transparent;
    border-radius: 8px;
    grid-gap: 0 8px;
    transition: 0.3s ease-out;
}

.accountMobile-mid .item-bot__item span {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #1f1f1f;
}


/* account bot */

.accountMobile-bot {
    /* background-color: #fff; */
    margin: 12px;
}

.accountMobile-bot .accountMobile-bot__tutorial {
    display: flex;
    align-items: center;
    grid-gap: 0 8px;
    width: max-content;
    padding: 8px;
    background: #f5f5f5;
    border-radius: 8px;
}

.accountMobile-bot .accountMobile-bot__tutorial p {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}


/* user guide */

.account-guide-cnt {
    padding: 74px 12px 0px 12px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--purple);
    overflow-y: scroll;
}

.account-guide-cnt .step-list {
    display: flex;
    flex-direction: column;
}

.account-guide-cnt .step-list li {
    margin: 8px 0px;
}

.account-guide-cnt .step-list img {
    width: 124px;
}

.account-guide-cnt .step-list .right {
    width: calc(100% - 124px);
    padding-left: 12px;
    color: var(--white);
}

.account-guide-cnt .step {
    color: var(--purple);
    background-color: var(--white);
    width: 24px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 100%;
}

.account-guide-cnt .right .title {
    margin-top: 4px;
    font-size: 14px;
    line-height: 16px;
}

.userGuid-active {
    max-height: 78px !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin-bottom: 12px;
    transition: visibility, opacity, max-height 0.3s ease-out !important;
}

.accountMobile-out {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 84px;
    display: flex;
    justify-content: center;
}

.accountMobile-out button {
    width: 70%;
    background-color: var(--orange);
}