.se-re-cnt {
    padding: 12px;
    width: 100%;
    background-color: var(--bgWhite);
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.se-re-cnt .cnt-right__top {
    padding: 0 24px;
}

.se-re-cnt__left {
    width: 16.6%;
    background-color: var(--bgWhite);
}
.se-re-cnt__left .filter-orgs-cnt{
    padding: 0px 12px;
}

.se-re-cnt__left .filter-orgs-cnt {
    padding: 12px 0px;
}

.se-re-cnt__left-top {
    padding: 0px 4px;
}

.se-re-cnt .filter-ser-cnt {
    margin-top: 0;
}

.se-re-cnt-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.se-re-cnt__left-list li {
    margin: 0 0px 12px 12px;
    background-color: var(--grey);
    padding: 8px 16px;
    cursor: pointer;
    color: var(--purple);
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    border-radius: 16px;
    transition: all 0.3s;
}

.se-re-cnt__right {
    width: 83.33%;
    background-color: var(--bgWhite);
    padding-left: 24px;
}

.re-ser-list {
    background-color: var(--bgWhite);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.re-ser-list li {
    width: 20%;
    background-color: var(--bgWhite);
    padding: 12px 8px;
}

/* cus MUI tab */
.se-re-cnt .MuiTabPanel-root {
    padding: 16px 0 0 0;
}

.se-re-cnt .MuiTabs-root {
    min-height: unset;
}

.se-re-cnt .MuiButtonBase-root.MuiTab-root.Mui-selected {
    color: white;
    z-index: 2;
    font-size: 14px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 22px;
}

.se-re-cnt .MuiTabs-indicator {
    background-color: var(--purple);
    width: 100%;
    z-index: 1;
    border-radius: 100px;
}

.se-re-cnt .MuiButtonBase-root.MuiTab-root {
    color: var(--text-black);
    text-transform: capitalize;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    min-height: unset;
    padding: 8px 16px;
    align-items: flex-start;
}

/* tab map */
.se-re-map-cnt {
    width: 100%;
    height: calc(100vh - 16px);
}

/* Mobile */
@media only screen and (max-width: 1023px) {
    .se-re-cnt .MuiTabPanel-root {
        padding: 0;
    }
    .se-re-header-mb {
        padding: 6px 12px;
        background-color: var(--white);
        box-shadow: rgb(0 0 0 / 10%) 0px 1px 5px;
        top: 0px;
        left: 0px;
        right: 0px;
        position: fixed;
        z-index: 100;
    }
    .se-re-header-mb .input {
        padding: 8px 12px;
        background-color: var(--grey_2);
        width: calc(100% - 44px);
        border-radius: 8px;
    }
    .se-re-header-mb .input span {
        font-size: 12px;
        line-height: 22px;
        font-weight: 600;
        color: var(--text-black);
        margin-left: 6px;
    }
    .se-re-header-mb .filter {
        border-radius: 8px;
        border: none;
        outline: none;
        padding: 10px;
        background-color: var(--grey_2);
    }

    .se-re-cnt {
        flex-direction: column;
        margin-top: 54px;
        padding: 0 12px;
    }

    .se-re-cnt-title {
        display: none;
    }

    .se-re-cnt__left {
        width: 100%;
        background-color: #eae9f5;
        border-radius: 8px;
        padding: 8px;
        margin-top: 12px;
        display: flex;
        justify-content: center;
    }

    .se-re-cnt__left-top {
        width: 100%;
        padding: 0;
        overflow-x: scroll;
    }

    .se-re-cnt__left-list {
        display: flex;
        flex-direction: row;
        width: max-content;
    }

    .se-re-cnt__left-list li {
        width: max-content;
        margin-right: 8px;
    }

    .se-re-cnt__left-sort {
        margin: 0px;
    }

    .se-re-cnt__right {
        width: 100%;
        padding: 10px 0;
    }

    .re-ser-list li {
        width: 50%;
        padding: 8px 0px;
    }

    .re-ser-list__item {
        width: 100% !important;
        padding: 12px 0px;
        border-bottom: solid 1px var(--grey);
    }

    .se-re-cnt .MuiTabs-root {
        min-height: unset;
    }

    .se-re-cnt .MuiButtonBase-root.MuiTab-root.Mui-selected {
        color: white;
        z-index: 2;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        text-transform: capitalize;
    }

    .se-re-cnt .MuiTabs-indicator {
        background-color: var(--purple);
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 100px;
    }

    .se-re-cnt .MuiButtonBase-root.MuiTab-root {
        min-height: unset;
        color: var(--text-black);
        font-family: "Nunito";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        padding: 4px 16px;
        text-transform: capitalize;
        text-align: center;
    }
    /* change style search */
    .re-ser-list__chage {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        grid-gap: 24px 0;
    }
    .re-ser-list__chage li {
        width: 100%;
        padding: 0;
    }
    .re-change-banner {
        height: 168px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .re-change-banner .re-change-banner-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
        filter: blur(4px) brightness(75%);
        -webkit-filter: blur(4px) brightness(75%);
        -moz-filter: blur(4px) brightness(75%);
    }
    .re-change-banner .re-change-banner-img {
        width: 120px;
        height: 120px;
        object-fit: contain;
        z-index: 2;
        background: rgba(145, 145, 145, 0.25);
        background: rgba(145, 145, 145, 0);
        box-shadow: 0 8px 32px 0 rgba(98, 98, 98, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
    .re-change-favorite {
        position: absolute;
        right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 12px;
        width: 32px;
        height: 32px;
        background-color: #eeedf2;
        border-radius: 100%;
        z-index: 5;
    }
    .re-change-favorite img {
        right: 12px;
        top: 12px;
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
    .re-change-wrap {
        display: flex;
        margin-top: 8px;
        grid-gap: 0 8px;
    }
    .re-change-img {
        width: 64px;
        height: 64px;
        border-radius: 100px;
        overflow: hidden;
        flex-shrink: 0;
    }
    .re-change-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .re-change-cnt {
        width: 100%;
    }

    .re-change-map {
        width: 20%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 2px 0px;
    }
    .change-review-item {
        display: flex;
        grid-gap: 0 4px;
        align-items: center;
    }
    .change-review-item img {
        width: 16px;
        height: 16px;
    }

    .change-review-item span {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #262626;
    }
    .re-change-map .re-change-map-text,
    .re-change-map .re-change-map-total {
        font-weight: 700;
        font-size: 12px;
        color: var(--purple);
    }
    .re-change-cnt-name {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    .re-change-cnt-add {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    .re-change-cnt-review {
        display: flex;
        grid-gap: 0 4px;
    }
    .re-change-cnt {
        display: flex;
        flex-direction: column;
        grid-gap: 4px 0;
    }
    .se-branch__drawer {
        padding: 24px 12px 48px 12px;
        background-color: #fafafa;
        max-height: 90vh;
        overflow-y: scroll;
    }
    .se-branch__title {
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
        color: var(--purple);
        text-align: center;
    }
    .se-branch__list {
        display: flex;
        flex-direction: column;
        grid-gap: 8px 0;
    }
    .se-branch__item {
        background-color: #fff;
        padding: 8px 12px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        grid-gap: 0 8px;
    }
    .branch-item__top {
        display: flex;
        align-items: center;
    }
    .item-top__distance {
        display: flex;
        align-items: center;
        grid-gap: 0 4px;
        margin-right: 8px;
        padding: 2px 4px;
        background-color: #fadfdf;
        border-radius: 4px;
    }
    .item-top__distance span {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #e64d4a;
    }
    .item-top__distance img {
        width: 14px;
        height: 14px;
    }
    .item-top__distance span {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
    .item-top__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #262626;
    }
    .branch-item__pinmap {
        width: 20px;
    }
    .branch-item__pinmap img {
        width: 20px;
        height: 20px;
    }
    .branch-item__bottom {
        margin-top: 4px;
    }
    .item-bottom__address p {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #8c8c8c;
    }
    .re-org-item:hover {
        box-shadow: unset !important;
        transform: unset !important;
    }
}
