.section-title {
    font-size: 18px;
    line-height: 26px;
    color: var(--purple);
    white-space: pre-line;
    font-weight: bold;
}
/* res-mobile */
/* Mobile */
@media only screen and (max-width: 767px) {
    .section-title {
        padding: 0px;
        font-size: 18px;
        line-height: 32px;
        padding: 0;
    }
    .mer-sale-list__title {
        font-size: 18px;
    }
    .mer-sale-list {
        margin-bottom: 16px;
    }
}
