.edit-user {
    display: flex;
    width: calc(100vw - 24px);
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    grid-gap: 0 12px;
    align-items: flex-end;
    position: relative;
}
.edit-user .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 31, 31, 0.8);
    backdrop-filter: blur(3px);
}
.edit-user .img-overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}
.edit-user .edit-user__img {
    width: 112px;
    height: 112px;
    border-radius: 100px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
}

.edit-user .edit-user__info {
    display: flex;
    flex-direction: column;
    grid-gap: 4px 0;
}
.edit-user .edit-user__info input {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    border: none;
    outline: none;
}
.edit-user .edit-user__info input::placeholder {
    font-size: 16px;
}
.edit-user .edit-user__phone,
.edit-user .edit-user__email {
    display: flex;
    align-items: center;
    grid-gap: 0 4px;
}
.edit-user .edit-user__phone span,
.edit-user .edit-user__email span {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.edit-user .edit-user__option {
    position: absolute;
    top: 12px;
    right: 12px;
}
.edit-user .edit-user__option button:nth-child(1) {
    color: var(--purple);
}
.edit-user .edit-user__option button:nth-child(2) {
    color: var(--red-cl);
}
.edit-user .edit-user__option button {
    padding: 4px 8px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}
