.map {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.map-cnt {
    height: 100%;
}

.open-map {
    width: fit-content;
    padding: 8px 16px;
    background-color: var(--purple);
    border-radius: 24px;
    cursor: pointer;
    flex-shrink: 0;
}

.open-map p {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.map .map-content {
    width: 100%;
    height: 100%;
}

.map .dialog-map__close {
    position: absolute;
    top: 14px;
    right: 60px;
    z-index: 2;
    background-color: var(--purple);
    border-radius: 100px;
    padding: 2px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    cursor: pointer;
}

.map .dialog-map__close-img {
    width: 30px;
    height: 30px;
}

.map .dialog-map__close img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map .dialog-map__list {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--bgWhite);
    z-index: 4;
    border-right: 1px solid #ccc;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    pointer-events: fill;
}

.map .dialog-map__list::-webkit-scrollbar {
    width: 2px;
    display: block;
}

.map .dialog-map__list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

.map .dialog-wrap__list {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    pointer-events: none;
}

.map .dialog-map__detail {
    margin-left: 24px;
    pointer-events: fill;
    width: 25%;
    max-height: calc(100vh - 64px);
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 16px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.dialog-map__detail::-webkit-scrollbar {
    display: none;
}

.head-active {
    background-color: var(--bgWhite) !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.5s;
}

.content-head.head-active span {
    opacity: 1 !important;
    visibility: visible !important;
    transition: all 0.5s;
}

.map .dialog-map__content {
    position: relative;
}

.map .content-head {
    height: 56px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    z-index: 999;
}

.map .content-img {
    height: 240px;
    width: 100%;
    margin-top: -56px;
}

.map .content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.map .content-head span {
    padding: 0 40px 0 24px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    visibility: hidden;
    opacity: 0;
}

.map .content-head img {
    margin-right: 16px;
    background-color: #fff;
    padding: 4px;
    width: 30px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.map .content-info {
    padding: 16px 24px 24px 24px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.663);
}

.map .content-info .content-info__name {
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 600;
}

.map .content-info .content-info__wrapbtn {
    margin-top: 16px;
    display: flex;
    grid-gap: 0 16px;
}

.map .content-info .content-info__wrapbtn .content-info__btn {
    padding: 8px 16px;
    border: 1px solid var(--purple);
    display: flex;
    grid-gap: 0 6px;
    width: 100%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.map .content-info .content-info__wrapbtn .content-info__btn img {
    width: 24px;
}

.map .content-info .content-info__wrapbtn .content-info__btn span {
    font-size: 14px;
    color: var(--purple);
    font-weight: bold;
}

.list-org__active {
    margin-left: 0 !important;
    transition: all 0.1s;
}

.map .dialog-map__item {
    display: flex;
    background-color: var(--bgWhite);
    flex-shrink: 0;
    overflow: hidden;
    grid-gap: 0 16px;
    padding: 16px;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-out;
    user-select: none;
}

.map .dialog-map__item:hover {
    background-color: var(--bgGray) !important;
    transition: all 0.2s ease-out;
}

.map .dialog-map__item:not(:last-child) {
    border-bottom: 1px solid rgba(204, 204, 204, 0.539);
}

.map .map-item__img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
}

.map .map-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* .dialog-map__org .map-item__content {
    padding: 16px;
} */

.map .map-item__name p {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.map .map-item__address p {
    font-size: 14px;
    font-weight: bold;
    color: #8c8c8c;
    margin-top: auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.map .map-item__evaluate {
    display: flex;
    grid-gap: 0 16px;
}

.map .evaluate-item {
    display: flex;
    grid-gap: 0 4px;
    align-items: center;
}

.dialog-map__item .map-item__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 4px 0;
    flex: 1;
    height: 100%;
}

.map .evaluate-item img {
    width: 14px;
    height: 14px;
}

.map .evaluate-item p {
    font-size: 14px;
    font-weight: bold;
}

.map .map-item__distance {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

.map .map-item__distance-icon {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}

.dialog-map__wrapper {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin-left: -25%;
    transition: all 0.2s !important;
    pointer-events: none;
}

.map .open-list__org {
    z-index: 6;
    pointer-events: fill;
    padding: 16px 8px;
    height: fit-content;
    background-color: var(--purple);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}

.css-1u2w381-MuiModal-root-MuiDrawer-root.isMap {
    z-index: 9000;
}

.gm-style .gm-style-iw-c {
    width: max-content;
    background-color: var(--purple);
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
    /* box-shadow: unset; */
    overflow: hidden;
    max-width: 500px !important;
    max-height: 326px !important;
    min-width: 0px !important;
    padding-right: 8px !important;
    margin-right: 8px !important;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}

.gm-style .gm-style-iw-t::after {
    background: var(--purple);
    z-index: 2;
}

.gm-ui-hover-effect {
    display: none !important;
}

.map .map-item__mobile {
    display: none;
}

.map .content-info__list {
    padding: 24px;
    display: flex;
    flex-direction: column;
    grid-gap: 16px 0;
    border-bottom: 1px solid #ccc;
}

.map .content-info__item {
    display: flex;
    grid-gap: 0 8px;
    width: 100%;
    align-items: center;
}

.map .content-info__item .item-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.map .content-info__item .item-text {
    font-size: 14px;
    font-weight: 500;
}

.map .content-info__item .item-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.map .content-info__rating {
    padding: 24px;
    position: relative;
}

.map .evaluate-input__change {
    width: 100%;
    bottom: unset;
    padding: 16px 24px;
}

.map .input-btn {
    right: 20px;
}

.map .evaluate-rating__left {
    width: 33.33%;
    grid-gap: 4px 0;
    border: 0;
}

.map .evaluate-rating__right {
    width: 66.66%;
    margin-right: 16px;
}

.map .MuiRating-root {
    font-size: 16px;
}

.map .evaluate-rating__left,
.map .evaluate-rating__right {
    padding: 0px;
}

.map .evaluate-rating__quantity {
    font-size: 14px;
}

.map .org-evaluate__cnt .evaluate-rating {
    border: 0;
    flex-direction: row-reverse;
}

.map .org-evaluate {
    width: 100%;
}

.map .input-btn {
    right: 20px;
}

.map .evaluate-rating__left {
    width: 33.33%;
    grid-gap: 4px 0;
    border: 0;
}

.map .evaluate-rating__right {
    width: 66.66%;
    margin-right: 16px;
}

.map .MuiRating-root {
    font-size: 16px;
}

.map .evaluate-rating__left,
.map .evaluate-rating__right {
    padding: 0px;
}

.map .evaluate-rating__quantity {
    font-size: 14px;
}

.map .org-evaluate__cnt .evaluate-rating {
    border: 0;
    flex-direction: row-reverse;
}

.map .org-evaluate {
    width: 100%;
}

@media only screen and (max-width: 1023px) {
    .open-map {
        padding: 6px 14px;
    }
    .open-map p {
        font-size: 14px;
    }
    .map .evaluate-item p {
        font-size: 12px;
    }
    .map {
        width: 100vw;
        height: 100vh;
    }
    .map .dialog-map__wrapper {
        display: none;
    }
    .map .open-list__org {
        display: none;
    }
    .map .map-cnt {
        border-radius: unset;
    }
    .map .map-list__mobile {
        width: 100%;
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .map .map-item__mobile {
        width: 100%;
        background-color: var(--bgWhite);
        display: flex;
        flex-direction: row;
        box-shadow: 0 0 6px 0 rgb(0 0 0 / 34%);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 1px solid #ccc;
        border-radius: 12px;
        align-items: center;
    }
    .map .map-item__mobile .item-img {
        width: 136px;
        height: 136px;
        padding: 12px;
        flex-shrink: 0;
    }
    .map .map-list__mobile .map-item__wrap {
        padding: 16px 6px;
    }
    .map .map-item__mobile .item-img img {
        border-radius: 12px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 8px 24px rgb(149 157 165 / 20%);
    }
    .map .map-item__mobile .item-content {
        padding: 12px 12px 12px 0;
        display: flex;
        flex-direction: column;
        gap: 4px 0;
    }
    .map .map-item__mobile .item-content__name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    .map .map-item__mobile .item-content__name p {
        font-size: 14px;
        font-weight: bold;
    }
    .map .map-list__mobile .item-content__address {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    .map .map-list__mobile .item-content__address p {
        font-size: 12px;
        font-weight: bold;
        color: #8c8c8c;
    }
    .map .map-list__mobile .item-content__evaluate {
        display: flex;
        grid-gap: 0 8px;
    }
    .map .map-list__mobile .item-content__evaluate .evaluate-item {
        display: flex;
        grid-gap: 0 4px;
    }
    .map .map-list__mobile .evaluate-item__img {
        width: 16px;
        height: 16px;
    }
    .map .map-list__mobile .evaluate-item__img img {
        width: 100%;
        height: 100%;
    }
    .map .gm-fullscreen-control {
        display: none;
    }
    .map .gmnoprint {
        display: none;
    }
    .map .dialog-map__close {
        right: 16px;
    }
}