@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

:root {
	--bg-white: rgb(255, 255, 255);
	--bg-gray-dark: #e5e5e5;
	--bg-gray: #f5f5f7;
	--purple: #7161ba;
	--red-cl: #ee6955;
	--text-black: #3b3a40;
	--text-hover: #a2a1ab;
	--text-op: #cac4e5;
	--text-orange: #ff721f;
	--bg-color: #eeedf2;
	--pink: #fff3f1;
	--pink-2: #fbf3f7;
	--pink-momo: #d82d8b;
	--purple-text: #3a2c93;
	--bg-purple: #7266ba;
}

a {
	color: unset;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	touch-action: pan-x pan-y;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body > iframe {
	display: none;
}

/* scroll bar */
::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-track {
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: var(--purple);
}

* {
	font-family: 'Quicksand';
}

.MuiContainer-root {
	/* height: 100% !important; */
	padding: 0px 0px !important;
}

/* .MuiPaper-root{
  width: -webkit-fill-available !important;
} */
.css-18lrjg1-MuiCircularProgress-root {
	color: var(--purple) !important;
}

/* Pagination */
.css-12j7rf6-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
	background-color: var(--purple) !important;
}

.css-wjh20t-MuiPagination-ul li {
	font-weight: 700 !important;
}

.css-wjh20t-MuiPagination-ul li:last-child {
	color: var(--purple) !important;
}

.css-12j7rf6-MuiButtonBase-root-MuiPaginationItem-root {
	font-weight: 700 !important;
}

/* ------ */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	background: #f5f5f7;
}

* {
	margin: 0;
	padding: 0;
}

.mt-24 {
	margin-top: 24px;
}

.cursor-pointer {
	cursor: pointer;
}

.flex-row {
	display: flex;
	align-items: center;
}

.flex-row-sp {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-column-sp {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

input,
textarea,
select,
button {
	outline: none;
}

input {
	line-height: normal;
}

label,
button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* .MuiModal-root {
    backdrop-filter: blur(10px) !important;
} */
body > iframe {
	position: unset !important;
}

.cursor-pointer {
	cursor: pointer;
}

#cprhliqipldavybercftg .chat-button--img-container {
	display: none !important;
}

/* cus dot slider */
.slick-dots ul {
	align-items: center;
	display: flex;
	justify-content: center;
}
.slick-dots ul li {
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background-color: #fff;
	opacity: 0.7;
}
.slick-dots ul .slick-active {
	background-color: var(--purple);
	width: 10px;
	height: 10px;
	opacity: 1;
}
.slick-dots li.slick-active button:before {
	display: none;
}
.slick-dots li button:before {
	display: none;
}

.slick-dots {
	bottom: 20px;
}

@media only screen and (max-width: 1023px) {
	html {
		background-color: #fff;
	}
}
