.home_section_promo {
	padding: 16px;
	background-color: #fff;
}

.home_service_list {
	grid-gap: 16px;
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(6, 1fr);
	margin: 24px 0;
	width: 100%;
}

@media screen and (max-width: 1023.98px) {
	.home_service_list {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 767.98px) {
	.home_section_promo {
		padding: 0;
		margin: 16px 0 0 0;
	}
	.home_service_list {
		grid-gap: 12px;
		display: flex;
		overflow-x: scroll;
		width: 100%;
		padding: 16px;
		margin: 0;
	}
}
