.review-service {
    width: 38vw;
    height: 92vh;
    background-color: var(--white);
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-service__title {
    padding: 6px 0px;
    border-bottom: solid 1px var(--grey);
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}

.review-service__item {
    margin: 8px 0px;
    border: solid 1px var(--grey);
    padding: 8px 12px;
    border-radius: 8px;
    height: 112px;
}

.review-service__item .left {
    width: 94px;
    height: 94px;
    object-fit: cover;
    border-radius: 8px;
}

.review-service__item .right {
    width: calc(100% - 94px);
    padding-left: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-service__item .service-name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: var(--text-black);
}

.review-service__item .service-desc {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: var(--text-hover);
    margin: 2px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.review-service__item .right_org_img {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 100%;
}

.review-service__item .right_org_name {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: var(--purple);
    margin-left: 4px;
}

.review-service__star {
    border: solid 1px var(--grey);
    padding: 8px 12px;
    border-radius: 8px;
}

.review-service__star .title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.review-service__star .star-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 12px;
}

.review-service__star .star-list li {
    width: 18%;
    cursor: pointer;
}

.review-service__star .start-icon {
    width: 22px;
    height: 22px;
}

.review-service__star .star-feed {
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
}
.review-service__text {
    margin-top: 8px;
    position: relative;
}
.review-service__text .review-service__ip {
    padding: 12px;
    max-width: 100%;
    min-width: 100%;
    border: solid 1px var(--grey);
    border-radius: 8px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
}
.review-service__btn {
    padding: 12px;
    display: flex;
    justify-content: center;
}
.review-service__btn button {
    background-color: var(--orange);
    width: 33.33%;
    border-radius: 6px;
}
.review-service__upload {
    position: absolute;
    right: 12px;
    top: 12px;
    display: flex;
    grid-gap: 8px;
}
@media only screen and (max-width: 1023px) {
    .review-service {
        width: 100%;
        height: 100%;
        margin-top: 48px;
    }
    .review-service__star .star-list li {
        width: 20%;
    }
    .review-service__btn button {
        width: 100%;
    }
}
